<div class="container-fluid">
    <form name="contentForm" novalidate>
        <div class="row">
            <div class="col-lg-9">
                <div class="panel panel-default margin-top">
                    <div class="panel-heading">
                        <strong>{{ contentType == 'category' ? 'ADD_CATEGORY' : 'ADD_CONTENT' | translate | uppercase }}</strong>
                    </div>
                    <div class="panel-body">
                        <div class="page-header no-margin-top">
                            <!-- Title Form input -->
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="title">{{ 'TITLE' | translate }} <strong class="text-danger">*</strong></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">
                                    <input id="title" name="title" type="text" class="form-control margin-bottom" required
                                           ng-model="newContent.translations.title">
                                </div>
                                <div class="col-md-5 text-right">
                                    <button ng-click="showSeoDetails = !showSeoDetails"
                                            type="button"
                                            class="btn btn-default">
                                        {{ showSeoDetails ? 'HIDE_SEO_SETTINGS' : 'SHOW_SEO_SETTINGS' | translate }}
                                    </button>
                                    <button ui-sref="content.list()"
                                            type="button"
                                            class="btn btn-primary">
                                        {{ 'CANCEL' | translate }}
                                    </button>

                                    <!-- Split button -->
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success" ng-click="addNewContent(newContent)"
                                                ng-disabled="contentForm.$invalid">
                                            {{ 'SAVE' | translate }}
                                        </button>
                                        <button type="button" class="btn btn-success dropdown-toggle"
                                                data-template-url="gzero/admin/views/core/directives/StatesDropdown.tpl.html"
                                                data-placement="bottom-right" data-animation="am-flip-x"
                                                bs-dropdown="contentSaveButtonLinks" ng-disabled="contentForm.$invalid">
                                            <span class="caret"></span>
                                            <span class="sr-only">
                                              {{ 'TOGGLE_DROPDOWN' | translate }}
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-show="showSeoDetails">

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="contentSeoTitle" class="control-label">{{ "SEO_TITLE" | translate }}</label>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-12">
                                        <input ng-model="newContent.translations.seoTitle"
                                               class="form-control"
                                               id="contentSeoTitle"
                                               type="text"
                                               aria-describedby="seoTitleHelpBlock"
                                                />

                                        <p class="help-block" id="seoTitleHelpBlock">
                                            {{ 'SEO_TITLE_DESCRIPTION' | translate }}
                                        </p>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group no-margin-bottom">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="contentSeoDescription" class="control-label">
                                            {{ "SEO_DESCRIPTION" | translate }}
                                        </label>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-12">
                                        <input ng-model="newContent.translations.seoDescription"
                                               class="form-control"
                                               id="contentSeoDescription"
                                               type="text"
                                               aria-describedby="seoDescriptionHelpBlock"
                                                />

                                        <p class="help-block" id="seoDescriptionHelpBlock">
                                            {{ 'SEO_DESCRIPTION_DESCRIPTION' | translate }}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <hr/>
                                </div>
                            </div>

                        </div>


                        <!--  Teaser Form textarea -->
                        <div class="form-group">
                            <label for="teaser">{{ 'TEASER' | translate }}</label>
                            <textarea id="teaser" name="teaser" class="form-control"
                                      ng-model="newContent.translations.teaser"></textarea>
                        </div>
                        <!--  Body Form textarea -->
                        <div class="form-group">
                            <label for="body">{{ 'BODY' | translate }}</label>
                            <textarea id="body" name="body" class="form-control" rows="20"
                                      ng-model="newContent.translations.body"></textarea>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="panel panel-default margin-top">
                    <div class="panel-heading">
                        <strong>{{ 'SETTINGS' | translate | uppercase }}</strong>
                    </div>
                    <div class="panel-body">
                        <!-- Lang Form input -->
                        <div class="form-group">
                            <label for="langCode" class="hidden-xs">{{ 'TRANSLATION_LANGUAGE' | translate }}</label>
                            <select id="langCode" ng-model="newContent.translations.langCode" class="form-control"
                                    ng-options="lang.code as lang.code | langName | translate for lang in langs">
                            </select>
                        </div>
                        <!-- Parent id Form input -->
                        <div class="form-group">
                            <label for="parentId" class="hidden-xs">{{ 'CATEGORY' | translate }}</label>
                            <input id="parentId" name="parentId" type="text" class="form-control"
                                   ng-model="newContent.parentId" disabled="disabled"
                                   placeholder="{{ (listParent.translations | getTranslation:newContent.translations.langCode:'title') ?
                                   (listParent.translations | getTranslation:newContent.translations.langCode:'title') :
                                    'UNCATEGORIZED' | translate }}">
                        </div>
                        <div ng-if="listParent"
                             ng-hide="(listParent.translations | getTranslation:newContent.translations.langCode:'title')"
                             class="text-danger">
                            <i class="glyphicon glyphicon-exclamation-sign"></i> {{ 'NO_PARENT_TRANSLATION_INFO' | translate }}
                        </div>
                        <hr/>
                        <!-- Is active Form input -->
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input ng-model="newContent.isActive" type="checkbox">{{ 'PUBLISHED' | translate }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
