<div class="container-fluid">
    <form name="contentForm" novalidate>
        <div class="row">
            <div class="col-lg-9">
                <div class="panel panel-default margin-top">
                    <div class="panel-heading">
                        <strong>{{ 'ADD_TRANSLATION' | translate | uppercase }}</strong>
                    </div>
                    <div class="panel-body">
                        <div class="page-header no-margin-top">
                            <!-- Title Form input -->
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="title">{{ 'TITLE' | translate }} <strong class="text-danger">*</strong></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">
                                    <input id="title" name="title" type="text" class="form-control margin-bottom" required
                                           ng-model="newContentTranslation.title">
                                </div>
                                <div class="col-md-5 text-right">
                                    <button ng-click="showSeoDetails = !showSeoDetails"
                                            type="button"
                                            class="btn btn-default">
                                        {{ showSeoDetails ? 'HIDE_SEO_SETTINGS' : 'SHOW_SEO_SETTINGS' | translate }}
                                    </button>
                                    <button ui-sref="content.list()"
                                            type="button"
                                            class="btn btn-primary">
                                        {{ 'CANCEL' | translate }}
                                    </button>
                                    <button type="submit" class="btn btn-success" ng-click="addnewContentTranslation(newContentTranslation)"
                                            ng-disabled="contentForm.$invalid">
                                        {{ 'SAVE' | translate }}
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div ng-show="showSeoDetails">

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="contentSeoTitle" class="control-label">{{ "SEO_TITLE" | translate }}</label>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-12">
                                        <input ng-model="newContentTranslation.seoTitle"
                                               class="form-control"
                                               id="contentSeoTitle"
                                               type="text"
                                               aria-describedby="seoTitleHelpBlock"
                                                />

                                        <p class="help-block" id="seoTitleHelpBlock">
                                            {{ 'SEO_TITLE_DESCRIPTION' | translate }}
                                        </p>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group no-margin-bottom">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="contentSeoDescription" class="control-label">{{ "SEO_DESCRIPTION" | translate
                                            }}</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <input ng-model="newContentTranslation.seoDescription"
                                               class="form-control"
                                               id="contentSeoDescription"
                                               type="text"
                                               aria-describedby="seoDescriptionHelpBlock"
                                                />

                                        <p class="help-block" id="seoDescriptionHelpBlock">
                                            {{ 'SEO_DESCRIPTION_DESCRIPTION' | translate }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <hr/>
                                </div>
                            </div>
                        </div>
                        <!--  Teaser Form textarea -->
                        <div class="form-group">
                            <label for="teaser">{{ 'TEASER' | translate }}</label>
                            <textarea id="teaser" name="teaser" class="form-control"
                                      ckeditor="ckOptions({height: '100px'})"
                                      ng-model="newContentTranslation.teaser"></textarea>
                        </div>
                        <!--  Body Form textarea -->
                        <div class="form-group">
                            <label for="body">{{ 'BODY' | translate }}</label>
                            <textarea id="body" name="body"
                                      ckeditor="ckOptions({height: '350px'})"
                                      class="form-control" rows="20"
                                      ng-model="newContentTranslation.body"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-default margin-top">
                    <div class="panel-heading">
                        <strong>{{ 'SETTINGS' | translate | uppercase }}</strong>
                    </div>
                    <div class="panel-body">
                        <!-- Lang Form input -->
                        <div class="form-group">
                            <label for="langCode" class="hidden-xs">{{ 'TRANSLATION_LANGUAGE' | translate }}</label>
                            <select id="langCode" ng-model="newContentTranslation.langCode" class="form-control"
                                    ng-options="lang.code as lang.code | langName | translate for lang in langs">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
