<div class="col-sm-3 col-md-2 quick-c-sidebar">
    <div class="aside-header">
        <h4>
           <strong>{{ 'CATEGORIES' | translate | uppercase }}</strong>
        </h4>
    </div>
    <ul class="nav">
        <li ng-repeat="category in contents">
            <a ui-sref="content.show({ contentId: content.id })">
                {{ category.translations | getTranslation:listLang.code:'title' }}
                <span ng-hide="(category.translations | getTranslation:listLang.code:'title')">
                    {{ 'NO_TRANSLATION' | translate }}
                </span>
            </a>
        </li>
    </ul>
</div>
