<div class="col-sm-3 col-md-2 quick-c-sidebar">
    <div class="aside-header">
        <h4>
            <strong>{{ 'CATEGORIES' | translate | uppercase }}</strong>
        </h4>
    </div>
    <script type="text/ng-template" id="treeChildrenRenderer.html">
        <div ui-tree-handle>
            <a href="" ng-click="toggleChildren(this)">
                <i class="fa fa-fw pull-right" ng-class="{'fa-angle-right': collapsed, 'fa-angle-down': !collapsed}"></i>
                {{ category.translations | getTranslation:listLang.code:'title' }}
                <span ng-hide="(category.translations | getTranslation:listLang.code:'title')">
                    {{ 'NO_TRANSLATION' | translate }}
                </span>
            </a>
        </div>
        <ul ui-tree-nodes="treeOptions" ng-model="category.children" ng-class="{ hidden: collapsed }">
            <li ng-repeat="category in category.children" ng-class="{ 'active': listParent == category.id, 'open': !collapsed}"
                ui-tree-node ng-include="'treeChildrenRenderer.html'" data-collapsed="!item.expanded">
            </li>
            <li ng-if="!category.children">
                <a href="" class="btn-add">
                    {{ 'ADD_CATEGORY' | translate }} <i class="fa fa-fw fa-plus-circle"></i>
                </a>
            </li>
        </ul>
    </script>
    <div ui-tree="treeOptions" id="categories-tree" data-drag-enabled="false">
        <ul ui-tree-nodes ng-model="categories" class="nav">
            <li ng-class="{ 'active': !listParent}" ng-click="selectCategory()">
                <a href="">{{ 'UNCATEGORIZED' | translate }}</a>
            </li>
            <li ng-repeat="category in categories" ng-class="{ 'active': listParent == category.id, 'open': !collapsed}"
                ui-tree-node ng-include="'treeChildrenRenderer.html'" data-collapsed="!item.expanded">
            </li>
        </ul>
    </div>
</div>
