<div class="col-sm-2 col-md-2 quick-c-sidebar">
    <div class="aside-header">
        <h4 class="clearfix">
            <strong class="pull-left">{{ 'CATEGORIES' | translate | uppercase }}</strong>
            <button ui-sref="content.add({ type: 'category' })" class="btn btn-xs btn-success pull-right" type="button"
                    title="{{ 'ADD_CATEGORY' | translate }}">
                <i class="glyphicon glyphicon-plus hidden-sm"></i>
            </button>
        </h4>
    </div>
    <div ui-tree="treeOptions" id="categories-tree" data-drag-enabled="false">
        <ul ui-tree-nodes ng-model="categories" class="nav">
            <li class="uncategorized" ng-class="{'active': !activeNode}">
                <a href="" ui-sref="content.list({ contentId: null })" ui-sref-opts="{ inherit: false }"
                   ng-click="uncategorized()">
                    <i class="fa fa-fw fa-folder-o"></i>
                    {{ 'UNCATEGORIZED' | translate }}
                </a>
            </li>
            <li ng-repeat="category in categories track by category.id"
                ng-class="{'active': activeNode == category.id , 'open': !collapsed }"
                ui-tree-node ng-include="'treeChildrenRenderer'"
                data-collapsed="!{{ openCategories | nodeInPath:category.id  }}">
            </li>
        </ul>
    </div>
</div>

<!--TEMPLATE-->
<script type="text/ng-template" id="treeChildrenRenderer">
    <div ui-tree-handle id="{{category.id}}">
        <i class="fa fa-fw pull-left" ng-click="toggleNode(this)" ng-show="category.children"
           ng-class="{'fa-caret-right': collapsed, 'fa-caret-down': !collapsed }"></i>
        <a href="" ui-sref="content.list({ contentId: category.id })" ui-sref-opts="{ reload: false }"
           title="{{category.translations | getTranslation:listLang.code:'title'}}">
            <i class="fa fa-fw" ng-class="collapsed ? 'fa-folder-o' : 'fa-folder-open-o'"></i>
            {{ category.translations | getTranslation:listLang.code:'title' | limitTo: 36}}
                <span ng-hide="(category.translations | getTranslation:listLang.code:'title')">
                    {{ 'NO_TRANSLATION' | translate }}
                </span>
        </a>
    </div>
    <ul ui-tree-nodes="treeOptions" ng-model="category.children" ng-class="{ hidden: collapsed }">
        <li ng-repeat="category in category.children track by category.id"
            ng-class="{'active': activeNode == category.id, 'open': !collapsed }"
            ui-tree-node ng-include="'treeChildrenRenderer'"
            data-collapsed="!{{ openCategories | nodeInPath:category.id }}">
        </li>
    </ul>
</script>
