<div class="page-header">
    <h1>{{ 'CONTENT_EDIT' | translate }}</h1>
</div>
<form>
    <!-- Url Form input -->
    <div class="form-group">
        <label for="url">Url</label>
        <input name="url" type="text" value="{{ content.translations[0].url }}" class="form-control" id="url">
    </div>
    <!-- Title Form input -->
    <div class="form-group">
        <label for="title">Title</label>
        <input name="title" type="text" value="{{ content.translations[0].title }}" class="form-control" id="title">
    </div>
    <!--  Body Form textarea -->
    <div class="form-group">
        <label for="body">Body</label>
        <textarea name="for" class="form-control" rows="3" id="body">{{ content.translations[0].body }}</textarea>
    </div>
    <div class="text-right">
        <button type="button" class="btn btn-default" ui-sref="content.list">{{ 'CANCEL' | translate }}</button>
        <button type="submit" class="btn btn-primary">{{ 'SAVE' | translate }}</button>
    </div>
</form>
