<div class="col-sm-12 col-md-12">
    <!-- LIST PARENT -->
    <div ng-if="listParent" class="row quick-c-nav list-parent">
        <div class="col-md-12">
            <h3 class="clearfix">
            <span class="sub-c-title">
                {{ 'CATEGORY' | translate | uppercase }}
            </span>
                <a href="" ui-sref="content.show({ contentId: listParent.id, langCode: transLang.code })">
                    {{ listParent.translations | getTranslation:transLang.code:'title' }}
                </a>
            <span ng-hide="(listParent.translations | getTranslation:transLang.code:'title')">
                <a ui-sref="content.addTranslation({ contentId: listParent.id, langCode: transLang.code })"
                   href="" class="btn btn-warning">
                    <i class="glyphicon glyphicon-exclamation-sign hidden-sm"></i> {{ 'NO_TRANSLATION_BUTTON' | translate }}
                </a>
            </span>
            <span class="pull-right">
                 <button type="button" class="btn btn-primary" content-actions-dropdown="contentListActions"
                         data-record="listParent" data-lang="transLang">
                     {{ 'ACTION' | translate }} <span class="caret"></span>
                 </button>
            </span>
            </h3>
        </div>
    </div>
    <div class="row list-actions quick-c-nav">
        <div class="col-xs-12 col-sm-12 col-lg-6 form-inline">
            <!-- LIST FILTERS -->
            <ul class="list-filters nav nav-pills" role="tablist">
                <li class="subtitle">
                    {{ 'SHOW' | translate }}
                </li>
                <li role="presentation" ng-class="{ active: !activeFilter.isActive }">
                    <a href="" ui-sref="content.list" ui-sref-opts="{ inherit: false }">{{ 'ALL' | translate }}</a>
                </li>
                <li role="presentation" ng-class="{ active: activeFilter.isActive == 1 }">
                    <a href="" ui-sref="content.list({ isActive: 1 })">{{ 'PUBLISHED' | translate }}</a>
                </li>
                <li role="presentation" ng-class="{ active: activeFilter.isActive == 0 }">
                    <a href="" ui-sref="content.list({ isActive: 0 })">{{ 'NOT_PUBLISHED' | translate }}</a>
                </li>
            </ul>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-xs-12 col-sm-12 col-lg-6 text-right">
            <button type="button" class="btn btn-success" states-dropdown="contentAddButtonLinks">
                <i class="glyphicon glyphicon-plus hidden-sm"></i> {{ 'ADD_NEW' | translate }} <span class="caret"></span>
            </button>
            <button type="button"
                    ng-click="refreshCurrentState()"
                    class="btn btn-default"
                    title="{{ 'REFRESH_LIST' | translate }}">
                <i class="glyphicon glyphicon-refresh"></i>
            </button>
        </div>
        <!-- /.col-lg-8 -->
    </div>
    <div class="table-box">
        <table ng-table="tableParams" template-pagination="tablePager" class="table table-striped table-hover">
            <tbody>
            <tr ng-repeat-start="content in $data track by content.id" ng-class="{ inactive: !content.isActive }"
                ng-click="showTranslations = !showTranslations">
                <td class="text-center">
                    <i class="icon fa" ng-if="isMultiLangEnabled"
                       ng-class="{'fa-minus-square-o': showTranslations, 'fa-plus-square-o': !showTranslations }">
                        <!-- icon -->
                    </i>
                </td>
                <td data-title="'TITLE' | translate" sortable="'translations.title'">
                    <h5 ng-if="(content.translations | getTranslation:transLang.code:'title')">
                        <a href="" ui-sref="content.show({ contentId: content.id, langCode: transLang.code })"
                           ng-show="(content.route.translations | getTranslation:transLang.code:'url')"
                           ng-click="$event.stopPropagation();">
                            {{ content.translations | getTranslation:transLang.code:'title' }}
                        </a>
                    </h5>

                    <h5 ng-hide="(content.translations | getTranslation:transLang.code:'title')">
                        <a href="" ui-sref="content.addTranslation({ contentId: content.id, langCode: transLang.code })"
                           ng-click="$event.stopPropagation();" class="text-muted">
                            <i class="glyphicon glyphicon-ban-circle hidden-sm"></i> {{ 'NO_TRANSLATION_BUTTON' | translate }}
                        </a>
                    </h5>
                </td>
                <td data-title="'STATUS' | translate" sortable="'isActive'" class="text-center">
                    <i ng-if="!content.isActive">{{ 'NOT_PUBLISHED' | translate }}</i>
                    <i ng-if="content.isActive">{{ 'PUBLISHED' | translate }}</i>
                </td>
                <td data-title="'AUTHOR' | translate" sortable="'author.firstName'" class="text-center">
                    {{ content.author.firstName }} {{ content.author.lastName }}
                </td>
                <td data-title="'ORDER' | translate" sortable="'weight'" class="text-center">
                    {{ content.weight }}
                </td>
                <td data-title="'ID' | translate" sortable="'id'" class="text-center">
                    {{ content.id }}
                </td>
                <td data-title="'ACTION' | translate" class="text-center action-column">
                    <button type="button" class="btn btn-sm btn-primary" content-actions-dropdown="contentListActions"
                            data-record="content" data-lang="transLang" ng-click="$event.stopPropagation();">
                        {{ 'ACTION' | translate }} <span class="caret"></span>
                    </button>
                </td>
            </tr>
            <tr ng-repeat-end ng-show="showTranslations && isMultiLangEnabled">
                <td class="details" colspan="7">
                    <table ng-init="isTranslated = (content.translations | getTranslation:lang.code:'title')" class="table-inner">
                        <tbody>
                        <tr ng-repeat="lang in langs track by lang.code"
                            ng-init="isTranslated = (content.translations | getTranslation:lang.code:'title')">
                            <!-- TRANSLATION IS AVAILABLE -->
                            <td ng-show="isTranslated && lang.code !== transLang.code" colspan="6">
                                <span class="label label-primary">{{ lang.code }}</span>
                                <a href=""
                                   title="{{ isTranslated }}"
                                   ng-click="selectLanguage(lang)"
                                   ui-sref="content.show({ contentId: content.id, langCode: lang.code })">
                                    {{ content.translations | getTranslation:lang.code:'title' }}
                                </a>
                            </td>
                            <td ng-show="isTranslated && lang.code !== transLang.code" class="action-column">
                                <a href="" ui-sref="content.show({ contentId: content.id, langCode: lang.code })"
                                   class="btn btn-default btn-sm btn-block">
                                    <i class="icon fa fa-pencil hidden-xs"></i> {{ 'EDIT' | translate }}
                                </a>
                            </td>
                            <!-- TRANSLATION IS NOT AVAILABLE -->
                            <td ng-show="!isTranslated && lang.code !== transLang.code" colspan="6">
                                <span class="label label-danger">{{ lang.code }}</span>
                                <a ui-sref="content.addTranslation({ contentId: listParent.id, langCode: lang.code })"
                                   href="" class="text-muted">
                                    {{ 'NO_TRANSLATION_INFO' | translate }}
                                </a>
                            </td>
                            <td ng-show="!isTranslated && lang.code !== transLang.code" class="action-column">
                                <a class="btn btn-default btn-sm btn-block" href=""
                                   ui-sref="content.addTranslation({ contentId: content.id, langCode: lang.code })">
                                    <i class="icon glyphicon glyphicon-plus-sign hidden-xs"></i>
                                    {{ 'ADD_TRANSLATION' | translate }}
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr ng-if="!$data[0] || requestPending">
                <td colspan="7" class="text-center">
                    <strong ng-if="!$data[0] && !requestPending">{{ 'NO_ENTRIES' | translate }}</strong>
                    <strong ng-if="requestPending"><i class="fa fa-spin fa-2x fa-spinner"></i></strong>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!--TEMPLATE-->
<script type="text/ng-template" id="tablePager">
    <div class="ng-cloak ng-table-pager">
        <ul ng-if="params.settings().counts.length" class="ng-table-counts pagination pull-right">
            <li ng-repeat="count in params.settings().counts" ng-class="{'active':params.count() == count}">
                <a href="" ui-sref="content.list({ page: page.number, perPage:count })">
                    <span ng-bind="count"></span>
                </a>
            </li>

        </ul>
        <ul class="pagination ng-table-pagination">
            <li ng-class="{'active': !page.active, 'disabled': !page.active && (page.type == 'prev' || page.type == 'next')}"
                ng-repeat="page in pages" ng-switch="page.type">
                <a ng-switch-when="prev" ui-sref="content.list({ page: page.number })" href="">&laquo;</a>
                <a ng-switch-when="first" ui-sref="content.list({ page: page.number })" href="">
                    <span ng-bind="page.number"></span>
                </a>
                <a ng-switch-when="page" ui-sref="content.list({ page: page.number })" href="">
                    <span ng-bind="page.number"></span>
                </a>
                <a ng-switch-when="more" ui-sref="content.list({ page: page.number })" href="">&#8230;</a>
                <a ng-switch-when="last" ui-sref="content.list({ page: page.number })" href="">
                    <span ng-bind="page.number"></span>
                </a>
                <a ng-switch-when="next" ui-sref="content.list({ page: page.number })" href="">&raquo;</a>
            </li>
        </ul>
    </div>
</script>
