<div class="col-sm-9 col-md-10">
    <ul class="list-filters nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a>{{ 'ALL' | translate }} <span class="badge">42</span></a></li>
        <li role="presentation"><a>{{ 'PUBLISHED' | translate }} <span class="badge">33</span></a></li>
        <li role="presentation"><a>{{ 'DRAFT' | translate }} <span class="badge">1</span></a></li>
    </ul>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'TITLE' | translate }}</th>
                <th>Id</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="content in contents">
                <td>
                    <div ng-show="content.translations[0]">
                        <h4>
                            <a ui-sref="content.show({ contentId: content.id })">
                                {{ content.translations[0].title }}
                            </a>
                            <small ng-show="content.translations[0]">(<i>{{content.translations[0].url}}</i>)</small>
                        </h4>
                        <p class="text-muted">
                            {{ 'CREATED_AT' | translate }} {{ content.translations[0].createdAt | date }}
                        </p>
                    </div>
                    <div ng-show="!content.translations[0]">
                        <h4><strong>{{ 'NO_TRANSLATION' | translate }}</strong></h4>

                        <p>
                            {{ 'NO_TRANSLATION_INFO' | translate }}
                        </p>
                    </div>
                    <a ui-sref="content.show({ contentId: content.id })">Details</a>
                    <a ui-sref="content.show({ contentId: content.id })" class="text-danger">{{ 'DELETE' | translate }}</a>
                </td>
                <td>
                    {{ content.id }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
