<div class="col-sm-9 col-md-10">
    <ul class="list-filters nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a>{{ 'ALL' | translate }} <span class="badge">42</span></a></li>
        <li role="presentation"><a>{{ 'PUBLISHED' | translate }} <span class="badge">33</span></a></li>
        <li role="presentation"><a>{{ 'DRAFT' | translate }} <span class="badge">1</span></a></li>
    </ul>
    <table tr-ng-grid="" items="contents" page-items="meta.perPage" total-items="meta.total"
           on-data-required="refreshContentList(currentLang.code, currentPage, perPage, filterBy, filterByFields, orderBy, orderByReverse)">
        <thead>
        <tr>
            <th field-name="translations" display-name="Title" display-format="activeTranslation:currentLang.code:'title'"></th>
            <th field-name="id" cell-width="4em" display-align="right"></th>
        </tr>
        </thead>
    </table>
</div>
