<div class="quick-nav-inner">
    <div class="row">
        <div class="col-xs-10 col-sm-8 col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" bs-tooltip data-placement="bottom-right"
                       data-title="{{ 'ADD_CONTENT_HINT' | translate }}">
              <span class="input-group-btn">
                <button ui-sref="content.show({ contentId: 2 })" class="btn btn-success" type="button"
                        title="{{ 'ADD_NEW' | translate }}">
                    <i class="glyphicon glyphicon-plus hidden-sm"></i> <span class="hidden-xs">{{ 'ADD_NEW' | translate }}</span>
                </button>
              </span>
            </div>
            <!-- /input-group -->
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-xs-2 col-sm-4 col-lg-6">
            <button type="button" class="btn btn-default pull-right" ng-click="showCategories()"
                    title="{{ 'SELECT_CATEGORY' | translate }}">
                <i class="glyphicon glyphicon-th-list"></i> <span class="hidden-xs">{{ 'SELECT_CATEGORY' | translate }}</span>
            </button>
        </div>
        <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.quick-nav -->
