<div class="row">
    <div class="col-lg-8">
        <button type="button" class="btn btn-primary btn-sm" ng-click="showCategories()">
            <i class="glyphicon glyphicon-th-list"></i> {{ 'SELECT_CATEGORY' | translate }}
        </button>
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-4">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Content title">
              <span class="input-group-btn">
                <button ui-sref="content.show({ contentId: 2 })" class="btn btn-primary" type="button">Add New</button>
              </span>
        </div>
        <!-- /input-group -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->
