<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9">
            <div class="panel margin-top">
                <div class="panel-heading">
                    <div class="page-header no-margin-bottom no-margin-top">
                        <h1 ng-show="content.translations | getTranslation:listLang.code:'title'">
                            {{ content.translations | getTranslation:listLang.code:'title' }}
                        </h1>

                        <h1 ng-hide="content.translations | getTranslation:listLang.code:'title'">
                            {{ 'NO_TRANSLATION' | translate }}
                        </h1>

                        <p class="permalink" ng-show="content.route.translations | getTranslation:listLang.code:'url'">
                            <strong>{{'PERMALINK' | translate }}:</strong> {{ baseUrl }}/{{ listLang.code }}/<span
                                class="bg-info">{{ content.route.translations | getTranslation:listLang.code:'url' }}</span>
                            <a class="btn btn-primary btn-xs">
                                {{ 'EDIT' | translate }}
                            </a>
                        </p>
                    </div>
                </div>
                <div class="panel-body">
                    <div ng-show="content.translations | getTranslation:listLang.code:'body'"
                         ng-bind-html="content.translations | getTranslation:listLang.code:'body' | trustAsHtml">
                    </div>
                    <div ng-hide="content.translations | getTranslation:listLang.code:'body'">
                        {{ 'NO_TRANSLATION_INFO' | translate }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default margin-top">
                <div class="panel-heading">
                    <strong>{{ 'PUBLISH' | translate | uppercase }}</strong>
                </div>
                <div class="panel-body">
                    <p><strong>{{ 'STATUS' | translate }}:</strong> {{ 'PUBLISHED' | translate }}</p>

                    <p><strong>{{ 'CREATED_AT' | translate }}:</strong> {{ content.createdAt | date }}</p>
                </div>
                <div class="panel-footer text-right">
                    <a class="pull-left text-danger" ui-sref="content.show" style="margin-top: 7px;">
                        <small class="hidden-xs">{{ 'MOVE_TO_TRASH' | translate }}</small>
                    </a>
                    <button type="button" class="btn btn-success">
                        {{ 'PUBLISH' | translate }}
                    </button>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>{{ 'TRANSLATIONS' | translate | uppercase }}</strong>
                    <span class="label pull-right label-default">{{'CLICK_TO_SELECT' | translate }}</span>
                </div>
                <div class="list-group action-group">

                    <div ng-repeat="lang in langs" ng-switch="lang.code" class="list-group-item"
                         ng-click="selectLanguage(lang)"
                         ng-class="{
                         'empty': !(content.translations | getTranslation:lang.code:'title'),
                         'active': lang.code == listLang.code
                         }">

                        <div ng-show="(content.translations | getTranslation:lang.code:'title')">
                            <h2 class="list-group-item-heading" translate="{{ lang.code | langName }}"></h2>
                        </div>
                        <div ng-hide="(content.translations | getTranslation:lang.code:'title')">

                            <h4 class="list-group-item-heading" translate="{{ lang.code | langName }}"></h4>

                            <p class="list-group-item-text">
                                {{ 'NO_TRANSLATION_INFO' | translate }}
                            </p>

                            <div class="box-inner">
                                <a class="btn btn-default btn-block" href=""
                                   ui-sref="content.addTranslation({ contentId: content.id, langCode: lang.code })">
                                    <i class="icon glyphicon glyphicon-plus-sign"></i> {{ 'ADD' | translate }}
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
