<div class="col-sm-12 col-md-12">
    <div class="row list-actions quick-c-nav">
        <div class="col-xs-12 col-sm-12 col-lg-10 form-inline">
            <!-- LIST FILTERS -->
            <ul class="list-filters nav nav-pills" role="tablist">
                <li class="subtitle">
                    {{ 'SHOW' | translate }}
                </li>
                <li role="presentation" ng-class="{ active: !activeFilter.isActive }">
                    <a href=""
                       ui-sref="content.trashcan({ type: activeFilter.type })"
                       ui-sref-opts="{ inherit: false }">{{ 'ALL' | translate }}</a>
                </li>
                <li role="presentation" ng-class="{ active: activeFilter.isActive == 1 }">
                    <a href="" ui-sref="content.trashcan({ isActive: 1 })">{{ 'PUBLISHED' | translate }}</a>
                </li>
                <li role="presentation" ng-class="{ active: activeFilter.isActive == 0 }">
                    <a href="" ui-sref="content.trashcan({ isActive: 0 })">{{ 'NOT_PUBLISHED' | translate }}</a>
                </li>
                <li class="subtitle">
                    {{ 'TYPE' | translate }}
                </li>
                <li role="presentation" ng-class="{ active: !activeFilter.type }">
                    <a href=""
                       ui-sref="content.trashcan({ isActive: activeFilter.isActive })"
                       ui-sref-opts="{ inherit: false }">{{ 'ALL' | translate }}</a>
                </li>
                <li role="presentation" ng-class="{ active: activeFilter.type == 'content' }">
                    <a href="" ui-sref="content.trashcan({ type: 'content' })">{{ 'CONTENT' | translate }}</a>
                </li>
                <li role="presentation" ng-class="{ active: activeFilter.type == 'category' }">
                    <a href="" ui-sref="content.trashcan({ type: 'category' })">{{ 'CATEGORY' | translate }}</a>
                </li>
            </ul>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-xs-12 col-sm-12 col-lg-2 text-right">

            <button type="button"
                    ng-click="refreshCurrentState()"
                    class="btn btn-default"
                    title="{{ 'REFRESH_LIST' | translate }}">
                <i class="glyphicon glyphicon-refresh"></i>
            </button>
        </div>
        <!-- /.col-lg-8 -->
    </div>
    <div class="table-box">
        <table ng-table="tableParams" template-pagination="tablePager" class="table table-striped">
            <tbody>
            <tr ng-repeat="content in $data" ng-class="{ inactive: !content.isActive }">
                <td data-title="'TITLE' | translate" sortable="'translations.title'">
                    <h5 ng-if="(content.translations | getTranslation:listLang.code:'title')">
                        <span
                                ng-show="(content.route.translations | getTranslation:listLang.code:'url')">
                           {{ content.translations | getTranslation:listLang.code:'title' }}
                        </span>
                    </h5>

                    <h5 ng-hide="(content.translations | getTranslation:listLang.code:'title')">
                        <i class="glyphicon glyphicon-ban-circle hidden-sm"></i> {{ 'NO_TRANSLATION' | translate }}
                    </h5>

                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group btn-group-xs" ng-repeat="lang in langs" ng-switch="lang.code"
                             ng-init="isTranslated = (content.translations | getTranslation:lang.code:'title')">
                        </div>
                    </div>
                </td>
                <td data-title="'STATUS' | translate" sortable="'isActive'" class="text-center">
                    <i ng-if="!content.isActive">{{ 'NOT_PUBLISHED' | translate }}</i>
                    <i ng-if="content.isActive">{{ 'PUBLISHED' | translate }}</i>
                </td>
                <td data-title="'TYPE' | translate" sortable="'type'" class="text-center">
                    {{ content.type.toUpperCase() | translate }}
                </td>
                <td data-title="'AUTHOR' | translate" sortable="'author.firstName'" class="text-center">
                    {{ content.author.firstName }} {{ content.author.lastName }}
                </td>
                <td data-title="'ORDER' | translate" sortable="'weight'" class="text-center">
                    {{ content.weight }}
                </td>
                <td data-title="'ID' | translate" sortable="'id'" class="text-center">
                    {{ content.id }}
                </td>
                <td data-title="'ACTION' | translate" class="text-center action-column">

                    <!-- TODO: we need exception - now soft deleted contents can't be shown
                    <a href="{{ baseUrl }}/{{ listLang.code }}/{{ content.route.translations | getTranslation:listLang.code:'url' }}"
                       target="_blank"
                       class="btn btn-sm btn-default">
                        {{ 'VIEW' | translate }}
                    </a>
                    --------------- -->

                    <button content-restore-button
                       data-id="{{ content.id }}"
                       class="btn btn-sm btn-primary">
                        {{ 'RESTORE' | translate }}
                    </button>

                    <button content-delete-button
                            data-id="{{ content.id }}"
                            data-type="{{ content.type }}"
                            data-force="true"
                            class="btn btn-sm btn-danger"
                            type="button">
                        {{ 'DELETE' | translate }}
                    </button>
                </td>
            </tr>
            <tr ng-if="!$data[0] || requestPending">
                <td colspan="7" class="text-center">
                    <strong ng-if="!$data[0] && !requestPending">{{ 'NO_ENTRIES' | translate }}</strong>
                    <strong ng-if="requestPending"><i class="fa fa-spin fa-2x fa-spinner"></i></strong>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!--TEMPLATE-->
<script type="text/ng-template" id="tablePager">
    <div class="ng-cloak ng-table-pager">
        <ul ng-if="params.settings().counts.length" class="ng-table-counts pagination pull-right">
            <li ng-repeat="count in params.settings().counts" ng-class="{'active':params.count() == count}">
                <a href="" ui-sref="content.trashcan({ page: page.number, perPage:count })">
                    <span ng-bind="count"></span>
                </a>
            </li>

        </ul>
        <ul class="pagination ng-table-pagination">
            <li ng-class="{'active': !page.active, 'disabled': !page.active && (page.type == 'prev' || page.type == 'next')}"
                ng-repeat="page in pages" ng-switch="page.type">
                <a ng-switch-when="prev" ui-sref="content.trashcan({ page: page.number })" href="">&laquo;</a>
                <a ng-switch-when="first" ui-sref="content.trashcan({ page: page.number })" href="">
                    <span ng-bind="page.number"></span>
                </a>
                <a ng-switch-when="page" ui-sref="content.trashcan({ page: page.number })" href="">
                    <span ng-bind="page.number"></span>
                </a>
                <a ng-switch-when="more" ui-sref="content.trashcan({ page: page.number })" href="">&#8230;</a>
                <a ng-switch-when="last" ui-sref="content.trashcan({ page: page.number })" href="">
                    <span ng-bind="page.number"></span>
                </a>
                <a ng-switch-when="next" ui-sref="content.trashcan({ page: page.number })" href="">&raquo;</a>
            </li>
        </ul>
    </div>
</script>
