<div class="col-sm-12 col-md-12">
    <div class="row list-actions quick-c-nav">
        <div class="col-xs-12 col-sm-12 col-lg-10 form-inline">
            <!-- LIST FILTERS -->
            <ul class="list-filters nav nav-pills" role="tablist">
                <li class="subtitle">
                    {{ 'TYPE' | translate }}
                </li>
                <li role="presentation" ng-class="{ active: !activeFilter.type }">
                    <a href=""
                       ui-sref="content.trashcan({ is_active: activeFilter.is_active })"
                       ui-sref-opts="{ inherit: false }">{{ 'ALL' | translate }}</a>
                </li>
                <li role="presentation" ng-class="{ active: activeFilter.type == 'content' }">
                    <a href="" ui-sref="content.trashcan({ type: 'content' })">{{ 'CONTENT' | translate }}</a>
                </li>
                <li role="presentation" ng-class="{ active: activeFilter.type == 'category' }">
                    <a href="" ui-sref="content.trashcan({ type: 'category' })">{{ 'CATEGORY' | translate }}</a>
                </li>
            </ul>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-xs-12 col-sm-12 col-lg-2 text-right">

            <button type="button"
                    ng-click="refreshCurrentState()"
                    class="btn btn-default"
                    title="{{ 'REFRESH_LIST' | translate }}">
                <i class="glyphicon glyphicon-refresh"></i>
            </button>
        </div>
        <!-- /.col-lg-8 -->
    </div>
    <div class="table-box">
        <table ng-table="tableParams" template-pagination="gzero/admin/views/partials/pagination.html" class="table table-striped">
            <tbody>
            <tr ng-repeat="content in $data" ng-class="{ inactive: !(content | isContentActive:transLang.code) }">
                <td data-title="'TITLE' | translate" sortable="'translations.title'">
                    <h5 ng-if="(content.translations | getTranslation:transLang.code:'title')">
                        <span
                                ng-show="(content.routes | getTranslation:transLang.code:'path')">
                           {{ content.translations | getTranslation:transLang.code:'title' }}
                        </span>
                    </h5>

                    <h5 ng-hide="(content.translations | getTranslation:transLang.code:'title')">
                        <i class="glyphicon glyphicon-ban-circle hidden-sm"></i> {{ 'NO_TRANSLATION' | translate }}
                    </h5>

                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group btn-group-xs" ng-repeat="lang in langs" ng-switch="lang.code"
                             ng-init="isTranslated = (content.translations | getTranslation:lang.code:'title')">
                        </div>
                    </div>
                </td>
                <td data-title="'STATUS' | translate" sortable="'is_active'" class="text-center">
                    <i ng-if="!(content | isContentActive:transLang.code)">{{ 'NOT_PUBLISHED' | translate }}</i>
                    <i ng-if="(content | isContentActive:transLang.code)">{{ 'PUBLISHED' | translate }}</i>
                </td>
                <td data-title="'TYPE' | translate" sortable="'type'" class="text-center">
                    {{ content.type.toUpperCase() | translate }}
                </td>
                <td data-title="'AUTHOR' | translate" sortable="'author.firstName'" class="text-center">
                    {{ content.author.firstName }} {{ content.author.lastName }}
                </td>
                <td data-title="'ORDER' | translate" sortable="'weight'" class="text-center">
                    {{ content.weight }}
                </td>
                <td data-title="'ID' | translate" sortable="'id'" class="text-center">
                    {{ content.id }}
                </td>
                <td data-title="'ACTION' | translate" class="text-center action-column">

                    <!-- TODO: we need exception - now soft deleted contents can't be shown
                    <a href="{{ baseUrl }}/{{ transLang.code }}/{{ content.routes | getTranslation:transLang.code:'path' }}"
                       target="_blank"
                       class="btn btn-sm btn-default">
                        {{ 'VIEW' | translate }}
                    </a>
                    --------------- -->

                    <button content-restore-button
                       data-id="{{ content.id }}"
                       class="btn btn-sm btn-primary">
                        {{ 'RESTORE' | translate }}
                    </button>

                    <button content-delete-button
                            data-id="{{ content.id }}"
                            data-type="{{ content.type }}"
                            data-force="true"
                            class="btn btn-sm btn-danger"
                            type="button">
                        {{ 'DELETE' | translate }}
                    </button>
                </td>
            </tr>
            <tr ng-if="!$data[0] || requestPending">
                <td colspan="7" class="text-center">
                    <strong ng-if="!$data[0] && !requestPending">{{ 'NO_ENTRIES' | translate }}</strong>
                    <strong ng-if="requestPending"><i class="fa fa-spin fa-2x fa-spinner"></i></strong>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
