.loading-mask {
  position   : absolute;
  width      : 100%;
  height     : 100%;
  left       : 0;
  right      : 0;
  top        : 0;
  bottom     : 0;
  background : rgba(0, 0, 0, 0.75) url(../images/loading_dark.gif) no-repeat center;
}
