<div class="col-sm-12 col-md-12">
    <div class="row">
        <div class="col-sm-12">
            <h1>
                {{ 'BLOCKS' | uppercase | translate }}
                <button type="button" class="btn btn-success pull-right" ui-sref="blocks.add({langCode: transLang.code})">
                    <i class="glyphicon glyphicon-plus hidden-sm"></i> {{ 'ADD_BLOCK' | translate }}
                </button>
            </h1>
        </div>
    </div>
    <!-- START BLOCKS TABLE -->
    <div class="table-box">
        <table ng-table="tableParams" template-pagination="gzero/admin/views/partials/pagination.html" class="table table-striped">
            <tbody>
            <tr ng-repeat-start="block in $data track by block.id" ng-class="{ inactive: !block.isActive }"
                ng-click="showTranslations = !showTranslations">
                <td class="text-center">
                    <i class="icon fa" ng-class="{'fa-minus-square-o': showTranslations, 'fa-plus-square-o': !showTranslations }">
                        <!-- icon -->
                    </i>
                </td>
                <td data-title="'TITLE' | translate" sortable="'translations.title'">
                    <h5 ng-if="(block.translations | getTranslation:transLang.code:'title')">
                        {{ block.translations | getTranslation:transLang.code:'title' }}
                    </h5>
                    <h5 ng-hide="(block.translations | getTranslation:transLang.code:'title')">
                        <i class="glyphicon glyphicon-ban-circle hidden-sm"></i> {{ 'NO_TRANSLATION' | translate }}
                    </h5>
                </td>
                <td data-title="'TYPE' | translate" sortable="'type'" class="text-center">
                    {{ ::block.type | uppercase | translate }}
                </td>
                <td data-title="'REGION' | translate" sortable="'region'" class="text-center">
                    {{ 'BLOCK_REGIONS.' + block.region | uppercase | translate }}
                </td>
                <td data-title="'WEIGHT' | translate" sortable="'weight'" class="text-center">
                    {{ ::block.weight }}
                </td>
                <td data-title="'ACTION' | translate" class="text-center">
                    <a href="" class="btn btn-sm btn-primary"
                       ui-sref="blocks.edit({ blockId: block.id, langCode: transLang.code})"
                       ng-click="$event.stopPropagation();">
                        {{ 'EDIT' | translate }}
                    </a>
                    <button block-delete-button class="btn btn-danger btn-sm" block-id="{{ block.id }}" data-force="true"
                            ng-click="$event.stopPropagation();">
                        <i class="fa fa-times"></i>  {{ 'DELETE' | translate }}
                    </button>
                </td>
            </tr>
            <tr ng-repeat-end ng-show="showTranslations">
                <td class="details" colspan="6">
                    <table class="table-inner">
                        <tbody>
                        <tr>
                            <td colspan="6">
                                <!-- TRANSLATION IS AVAILABLE -->
                                <div ng-show="block.translations | getTranslation:transLang.code:'body'"
                                     ng-bind-html="block.translations | getTranslation:transLang.code:'body' | trustAsHtml">
                                </div>
                                <!-- TRANSLATION IS NOT AVAILABLE -->
                                <div ng-hide="block.translations | getTranslation:transLang.code:'body'">
                                    {{ 'NO_TRANSLATION' | translate }}
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr ng-if="!$data[0] || requestPending">
                <td colspan="6" class="text-center">
                    <strong ng-if="!$data[0] && !requestPending">{{ 'NO_ENTRIES' | translate }}</strong>
                    <strong ng-if="requestPending"><i class="fa fa-spin fa-2x fa-spinner"></i></strong>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- END BLOCKS TABLE -->
</div>
