<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title">
                        <h2 class="padding-top">
                            {{ block.type | uppercase | translate }} -
                            <span class="semi-bold">
                                {{ block.translations | getTranslation:langCode:'title' }}
                            </span>
                            <span class="semi-bold" ng-hide="block.translations | getTranslation:langCode:'title'">
                                {{ 'NO_TRANSLATION' | translate }}
                            </span>
                            <small class="fade-box" ng-if="!block.is_active">
                                <i>({{ 'NOT_PUBLISHED' | translate }})</i>
                            </small>
                        </h2>
                    </div>
                </div>
            </div>
            <div ng-include src="'gzero/admin/views/blocks/details/tabs.html'"></div>
            <div ui-view="contentTab"></div>
        </div>
        <div class="col-lg-3">
            <div ui-view="langSwitcher"></div>
            <div ui-view="blockSettings"></div>
        </div>
    </div>
</div>
