<div class="panel panel-default  margin-top">
    <div class="panel-heading">
        <strong>{{ 'TRANSLATION_LANGUAGE' | translate | uppercase }}</strong>
    </div>
    <div class="list-group action-group">
        <div ng-repeat="lang in langs" ng-switch="lang.code" ui-sref="content.show({ langCode: lang.code })"
             class="list-group-item"
             ng-class="{
             'inactive': !(content.translations | getTranslation:lang.code:'title'),
             'active': lang.code === langCode
             }">

            <h4 class="list-group-item-heading" translate="{{ lang.code | langName }}"></h4>

            <div ng-hide="(content.translations | getTranslation:lang.code:'title')">

                <p class="list-group-item-text">
                    {{ 'NO_TRANSLATION_INFO' | translate }}
                </p>

                <div class="box-inner">
                    <a class="btn btn-default btn-block" href="" ng-click="$event.stopPropagation()"
                       ui-sref="content.addTranslation({ contentId: content.id, langCode: lang.code })">
                        <i class="icon glyphicon glyphicon-plus-sign"></i> {{ 'ADD_TRANSLATION' | translate }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
