<div class="panel content-settings-panel panel-default margin-top">
    <div class="panel-heading">
        <strong>{{ 'SETTINGS' | translate | uppercase }}</strong>
    </div>
    <ul class="list-group content-settings">
        <li class="list-group-item clearfix">
            <a content-thumb-button
               content_id="{{content.id}}"
               thumb-id="{{content.thumbnail.id}}">
                <i class="fa fa-image"></i> {{ 'THUMBNAIL' | translate }}
                <div class="pull-right" ng-if="!content.thumbnail">
                    {{ 'NONE' | translate }}
                </div>
                <div class="img-preview clear-both" ng-if="content.thumbnail.thumb">
                    <img ng-src="{{::content.thumbnail.thumb}}" class="img-responsive"
                         alt="{{ content.thumbnail.translations | getTranslation:transLang.code:'title' }}"
                         title="{{ content.thumbnail.translations | getTranslation:transLang.code:'title' }}">
                </div>
            </a>
        </li>
        <li class="list-group-item clearfix"
            ng-init="contentUrl = (content.routes | getTranslation:langCode:'path')"
            ng-show="contentUrl">
            <div class="pull-left field-label">
                <i class="fa fa-link"></i> {{ 'URL_ADDRESS' | translate }}
            </div>
            <a content-edit-route-button
               class="text-right"
               ng-if="content.type != 'category'"
               data-id="{{ content.id }}"
               data-route="{{ contentUrl }}"
               title="{{ contentUrl }}"
               data-lang="{{ langCode }}">
                <span class="text-primary">
                    {{ contentUrl.substr(contentUrl.lastIndexOf('/') + 1 )}}
                </span>
            </a>

            <div ng-if="content.type === 'category'">
                <div class="text-right" title="{{ contentUrl }}">
                    {{ contentUrl.substr(contentUrl.lastIndexOf('/') + 1)}}
                </div>
            </div>
        </li>
        <li class="list-group-item clearfix">
            <div class="pull-left field-label">
                <i class="fa fa-folder-o"></i> {{ 'CATEGORY' | translate }}
            </div>
            <div class="text-right fade-box">
                <div ng-if="contentParent">
                    <a href="#" ui-sref="content.show({ contentId: contentParent.id, langCode: langCode })"
                       ng-if="contentParent.translations | getTranslation:langCode:'title'">
                        <span class="text-primary">{{ contentParent.translations | getTranslation:langCode:'title' }}</span>
                    </a>

                    <div ng-if="!(contentParent.translations | getTranslation:langCode:'title')">
                        {{ 'NO_TRANSLATION' | translate }}
                    </div>
                </div>
                <div ng-if="!contentParent">
                    {{ 'UNCATEGORIZED' | translate }}
                </div>
            </div>
        </li>
        <li class="list-group-item clearfix" ng-if="author">
            <div class="pull-left field-label">
                <i class="fa fa-user"></i> {{ 'AUTHOR' | translate }}
            </div>
            <a href="#" class="text-right" ui-sref="user.show({ userId: author.id })">
                <span class="text-primary">{{ author.first_name }} {{ author.last_name }}</span>
            </a>
        </li>
        <li class="list-group-item clearfix">
            <a content-toggle-property-button
               content_id="{{content.id}}"
               property_name="is_on_home"
               value="{{content.is_on_home}}">
                <i class="fa fa-home"></i> {{ 'IS_ON_HOME' | translate }}
                <div class="pull-right">
                    <i class="fa"
                       ng-class="content.is_on_home ? 'fa-check-circle text-success' : 'fa-times-circle text-danger'"></i>
                </div>
            </a>
        </li>
        <li class="list-group-item clearfix">
            <a content-toggle-property-button
               content_id="{{content.id}}"
               property_name="is_comment_allowed"
               value="{{content.is_comment_allowed}}">
                <i class="fa fa-comment-o"></i> {{ 'IS_COMMENT_ALLOWED' | translate }}
                <div class="pull-right">
                    <i class="fa"
                       ng-class="content.is_comment_allowed ? 'fa-check-circle text-success' : 'fa-times-circle text-danger'"></i>
                </div>
            </a>
        </li>
        <li class="list-group-item clearfix">
            <a content-toggle-property-button
               content_id="{{content.id}}"
               property_name="is_promoted"
               value="{{content.is_promoted}}">
                <i class="fa fa-star-o"></i> {{ 'IS_PROMOTED' | translate }}
                <div class="pull-right">
                    <i class="fa"
                       ng-class="content.is_promoted ? 'fa-check-circle text-success' : 'fa-times-circle text-danger'"></i>
                </div>
            </a>
        </li>
        <li class="list-group-item clearfix">
            <a content-toggle-property-button
               content_id="{{content.id}}"
               property_name="is_sticky"
               value="{{content.is_sticky}}">
                <i class="fa fa-thumb-tack"></i> {{ 'IS_STICKY' | translate }}
                <div class="pull-right">
                    <i class="fa"
                       ng-class="content.is_sticky ? 'fa-check-circle text-success' : 'fa-times-circle text-danger'"></i>
                </div>
            </a>
        </li>
        <li class="list-group-item clearfix">
            <i class="fa fa-power-off"></i> {{ 'IS_PUBLISHED' | translate }}
            <div class="pull-right">
                <i class="fa"
                   ng-class="(content | isContentActive:langCode) ? 'fa-check-circle text-success' : 'fa-times-circle text-danger'"></i>
            </div>
        </li>
        <li class="list-group-item clearfix">
            <a content-weight-edit-button
               content_id="{{content.id}}"
               content_weight="{{content.weight}}">
                <i class="fa fa-sort"></i> {{ 'WEIGHT' | translate }}

                <div class="pull-right">
                    <strong>{{ content.weight }}</strong>
                </div>
            </a>
        </li>
        <li class="list-group-item clearfix"
            content-theme-edit-button
            content_id="{{content.id}}"
            content_theme="{{content.theme}}">
            <div class="pull-left field-label">
                <i class="fa fa-css3"></i> {{ 'CSS_CLASS' | translate }}
            </div>
            <a class="text-right">
                <span class="text-muted">{{ content.theme }}</span>
            </a>
        </li>
        <li class="list-group-item clearfix">
            <div class="pull-left field-label">
                <i class="fa fa-calendar"></i> {{ 'PUBLISHED_AT' | translate }}
            </div>
            <a content-published-at-edit-button
               class="text-right"
               content_id="{{content.id}}"
               content_published_at="{{content.published_at}}">
                {{ content.published_at | date:'yyyy-MM-dd HH:mm:ss' }}
            </a>
        </li>
    </ul>
    <div class="panel-footer text-right">
        <a ui-sref="content.list"
           class="btn btn-default pull-left">
            {{ 'CANCEL' | translate }}
        </a>
        <button content-delete-button
                data-id="{{ content.id }}"
                data-type="{{ content.type }}"
                data-force="false"
                type="button"
                class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
            {{ 'MOVE_TO_TRASH' | translate }}
        </button>
    </div>
</div>
