<div class="panel content-settings-panel panel-default margin-top">
    <div class="panel-heading">
        <strong>{{ 'SETTINGS' | translate | uppercase }}</strong>
    </div>
    <ul class="list-group content-settings">
        <li class="list-group-item clearfix"
            ng-show="(content.route.translations | getTranslation:langCode:'url')">
            <a content-edit-route-button
               ng-if="content.type != 'category'"
               data-id="{{ content.id }}"
               data-route="{{ content.route.translations | getTranslation:langCode:'url' }}"
               data-lang="{{ langCode }}">
                <i class="fa fa-link"></i> {{ 'URL_ADDRESS' | translate }}

                <div class="pull-right" ng-init="contentUrl = (content.route.translations | getTranslation:langCode:'url')">
                    <span class="text-primary">{{ contentUrl.substr(contentUrl.lastIndexOf('/') + 1)}}</span>
                </div>
            </a>
        </li>
        <li class="list-group-item clearfix">
            <i class="fa fa-folder-o"></i> {{ 'CATEGORY' | translate }}
            <div class="pull-right fade-box">
                <div ng-if="contentParent">
                    <a href="#" ui-sref="content.show({ contentId: contentParent.id, langCode: langCode.code })"
                       ng-if="contentParent.translations | getTranslation:langCode:'title'">
                        <strong>{{ contentParent.translations | getTranslation:langCode:'title' }}</strong>
                    </a>

                    <div ng-if="!(contentParent.translations | getTranslation:langCode:'title')">
                        {{ 'NO_TRANSLATION' | translate }}
                    </div>
                </div>
                <div ng-if="!contentParent">
                    {{ 'UNCATEGORIZED' | translate }}
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <a content-toggle-property-button
               content_id="{{content.id}}"
               property_name="isOnHome"
               value="{{content.isOnHome}}">
                <i class="fa fa-home"></i> {{ 'IS_ON_HOME' | translate }}
                <div class="pull-right">
                    <i class="fa"
                       ng-class="content.isOnHome ? 'fa-check-circle text-success' : 'fa-times-circle text-danger'"></i>
                </div>
            </a>
        </li>
        <li class="list-group-item">
            <a content-toggle-property-button
               content_id="{{content.id}}"
               property_name="isCommentAllowed"
               value="{{content.isCommentAllowed}}">
                <i class="fa fa-comment-o"></i> {{ 'IS_COMMENT_ALLOWED' | translate }}
                <div class="pull-right">
                    <i class="fa"
                       ng-class="content.isCommentAllowed ? 'fa-check-circle text-success' : 'fa-times-circle text-danger'"></i>
                </div>
            </a>
        </li>
        <li class="list-group-item">
            <a content-toggle-property-button
               content_id="{{content.id}}"
               property_name="isPromoted"
               value="{{content.isPromoted}}">
                <i class="fa fa-star-o"></i> {{ 'IS_PROMOTED' | translate }}
                <div class="pull-right">
                    <i class="fa"
                       ng-class="content.isPromoted ? 'fa-check-circle text-success' : 'fa-times-circle text-danger'"></i>
                </div>
            </a>
        </li>
        <li class="list-group-item">
            <a content-toggle-property-button
               content_id="{{content.id}}"
               property_name="isSticky"
               value="{{content.isSticky}}">
                <i class="fa fa-thumb-tack"></i> {{ 'IS_STICKY' | translate }}
                <div class="pull-right">
                    <i class="fa"
                       ng-class="content.isSticky ? 'fa-check-circle text-success' : 'fa-times-circle text-danger'"></i>
                </div>
            </a>
        </li>
        <li class="list-group-item">
            <a content-toggle-property-button
               content_id="{{content.id}}"
               property_name="isActive"
               value="{{content.isActive}}">
                <i class="fa fa-power-off"></i> {{ 'IS_PUBLISHED' | translate }}
                <div class="pull-right">
                    <i class="fa"
                       ng-class="content.isActive ? 'fa-check-circle text-success' : 'fa-times-circle text-danger'"></i>
                </div>
            </a>
        </li>
        <li class="list-group-item">
            <a content-weight-edit-button
               content_id="{{content.id}}"
               content_weight="{{content.weight}}">
                <i class="fa fa-sort"></i> {{ 'WEIGHT' | translate }}

                <div class="pull-right">
                    <strong>{{ content.weight }}</strong>
                </div>
            </a>
        </li>
        <li class="list-group-item">
            <a content-published-at-edit-button
               content_id="{{content.id}}"
               content_published_at="{{content.publishedAt}}">
                <i class="fa fa-calendar"></i> {{ 'PUBLISHED_AT' | translate }}
                <div class="pull-right">
                    <span class="text-muted">{{ content.publishedAt }}</span>
                </div>
            </a>
        </li>
    </ul>
    <div class="panel-footer text-right">
        <a ui-sref="content.list"
           class="btn btn-default pull-left">
            <i class="fa fa-times"></i>
            {{ 'CANCEL' | translate }}
        </a>
        <button content-delete-button
                data-id="{{ content.id }}"
                data-type="{{ content.type }}"
                data-force="false"
                type="button"
                class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
            {{ 'MOVE_TO_TRASH' | translate }}
        </button>
    </div>
</div>
