// -------------------------------------
// - Buttons Module
// -------------------------------------
// ----- Styles for the Buttons Module
// -------------------------------------

// -------------------------------------
//   Layout

//    LLLLLLLLLLL
//    L:::::::::L
//    L:::::::::L
//    LL:::::::LL
//      L:::::L
//      L:::::L
//      L:::::L
//      L:::::L
//      L:::::L
//      L:::::L
//      L:::::L
//      L:::::L         LLLLLL
//    LL:::::::LLLLLLLLL:::::L
//    L::::::::::::::::::::::L
//    L::::::::::::::::::::::L
//    LLLLLLLLLLLLLLLLLLLLLLLL
//
// -------------------------------------


// -------------------------------------
//   Skin

// Base styles
// --------------------------------------------------

.btn {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  transition : all .25s ease-in-out;

  &:hover,
  &:focus,
  &.focus {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }

  &:active,
  &.active {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  }
}


// -------------------------------------
//   Typography

//   TTTTTTTTTTTTTTTTTTTTTTT
//   T:::::::::::::::::::::T
//   T:::::::::::::::::::::T
//   T:::::TT:::::::TT:::::T
//   TTTTTT  T:::::T  TTTTTT
//           T:::::T
//           T:::::T
//           T:::::T
//           T:::::T
//           T:::::T
//           T:::::T
//           T:::::T
//         TT:::::::TT
//         T:::::::::T
//         T:::::::::T
//         TTTTTTTTTTT
//
// -------------------------------------


// -------------------------------------
//   Components

//
//
//           CCCCCCCCCCCCC
//        CCC::::::::::::C
//      CC:::::::::::::::C
//     C:::::CCCCCCCC::::C
//    C:::::C       CCCCCC
//   C:::::C
//   C:::::C
//   C:::::C
//   C:::::C
//   C:::::C
//   C:::::C
//    C:::::C       CCCCCC
//     C:::::CCCCCCCC::::C
//      CC:::::::::::::::C
//        CCC::::::::::::C
//           CCCCCCCCCCCCC
//
// -------------------------------------


// -------------------------------------
//   States

//
//      SSSSSSSSSSSSSSS
//    SS:::::::::::::::S
//   S:::::SSSSSS::::::S
//   S:::::S     SSSSSSS
//   S:::::S
//   S:::::S
//    S::::SSSS
//     SS::::::SSSSS
//       SSS::::::::SS
//          SSSSSS::::S
//               S:::::S
//               S:::::S
//   SSSSSSS     S:::::S
//   S::::::SSSSSS:::::S
//   S:::::::::::::::SS
//    SSSSSSSSSSSSSSS
//
// -------------------------------------

