// - - - - - - - - - - - - - - - - - - -
// - - categories-tree module
// styles for the categories-tree module

// - - - - - - - - - - - - - - - - - - -
// - - layout

%categories-l-tree {
  overflow-x   : hidden; /* Prevent scroll on narrow devices */
  padding      : 10px 15px 60px;

  .nav > li.uncategorized > a {
    padding : 10px 15px 10px 36px;
    margin  : 0;
  }
}

// - - - - - - - - - - - - - - - - - - -
// - - skin

%categories-s-tree {

}

// - - - - - - - - - - - - - - - - - - -
// - - typography

%categories-t-tree {

}

// - - - - - - - - - - - - - - - - - - -
// - - components

.categories-c-tree {
  @extend %categories-l-tree;
  @extend %categories-s-tree;
  @extend %categories-t-tree;

  .angular-ui-tree-handle {
    font-weight : normal;
    cursor      : auto;
    padding     : 10px 15px;

    .fa.pull-left:hover {
      cursor : pointer;
    }
    a {
      white-space     : nowrap;
      text-decoration : none;
    }
    &.no-arrow {
      padding-left : 36px;
    }
  }

  & > ul {
    & > li {
      a {
        margin : 0;
      }
    }

  }

  a {
    display : block;
    &.btn-add {
      color : $brand-success;
      &:hover {
        background      : $brand-success;
        color           : $white;
        text-decoration : none;
      }
    }
    &.btn-show {
      &:hover,
      &.active {
        background      : $brand-primary;
        color           : $white;
        text-decoration : none;
      }
    }
  }

  .fa.pull-left {
    margin-top : .2em;
    color: $white;
  }

  ul {
    ul {
      background-color :  lighten($blue-dark, 10%);
      .angular-ui-tree-handle {
        & > a {
          &:hover {
            color           : #8b91a0;
            text-decoration : none;
          }
        }

        &.no-arrow {
          padding-left : 37px;
        }
      }
    }
  }

  & > ul > li {
    margin : 0 -15px;
    &:first-child {
      margin-top : -10px;
    }

    &:last-child {
      border-bottom : none;
    }

    &:hover {
      & > div {
        background-color : $white;
        .fa.pull-left {
          color: $brand-primary;
        }
      }
    }

    &.active {
      & > div,
      & > a {
        background : $brand-primary;
        &, a {
          color : $white;
        }
        .fa.pull-left {
          color: $white;
        }
      }
    }

    li.active > div > a {
      color           : $white;
      text-decoration : none;
      font-weight     : bold;
    }
  }

  li.open {
    & > ul {
    }
  }

  .divider {
    @include nav-divider(#5C606B);
    margin: 0 -15px;
  }

  .menu-title {
    color: $white;
    font-size: 10.5px;
    padding: 25px 30px 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2px;
  }
}

// - - - - - - - - - - - - - - - - - - -
// - - states
//   ___ 
//  / __|
//  \__ \
//  |___/
