// - - - - - - - - - - - - - - - - - - -
// - - categories-tree module
// styles for the categories-tree module

// - - - - - - - - - - - - - - - - - - -
// - - layout

%categories-l-tree {
  height       : 100vh;
  overflow-x   : hidden; /* Prevent scroll on narrow devices */
  margin-left  : -15px;
  margin-right : -15px;
  padding      : 10px 15px 60px;

  .nav > li.uncategorized > a {
    padding : 10px 15px 10px 36px;
    margin : 0;
  }
}



// - - - - - - - - - - - - - - - - - - -
// - - skin

%categories-s-tree {

}

// - - - - - - - - - - - - - - - - - - -
// - - typography

%categories-t-tree {

}


// - - - - - - - - - - - - - - - - - - -
// - - components

.categories-c-tree {
  @extend %categories-l-tree;
  @extend %categories-s-tree;
  @extend %categories-t-tree;

  .angular-ui-tree-handle {
    font-weight : normal;
    cursor      : auto;
    padding     : 10px 15px;

    .fa.pull-left:hover {
      cursor : pointer;
    }
    a {
      white-space     : nowrap;
      text-decoration : none;
    }
    &.no-arrow {
      padding-left : 36px;
    }
  }

  & > ul {
    & > li {
      a {
        margin : 0;
      }
    }

  }

  a {
    display : block;
    &.btn-add {
      color : $brand-success;
      &:hover {
        background      : $brand-success;
        color           : $white;
        text-decoration : none;
      }
    }
    &.btn-show {
      &:hover,
      &.active {
        background      : $brand-primary;
        color           : $white;
        text-decoration : none;
      }
    }
  }

  .fa.pull-left {
    margin-top : .2em;
  }

  ul {
    ul {
      background-color : $table-bg-hover;
      .angular-ui-tree-handle {
        & > a {
          &:hover {
            color           : $black;
            text-decoration : none;
          }
        }

        &.no-arrow {
          padding-left : 37px;
        }
      }
    }
  }

  & > ul > li {
    margin : 0 -15px;
    &:first-child {
      margin-top : -10px;
    }

    &:last-child {
      border-bottom : none;
    }

    &:hover {
      & > div {
        background-color : $gray-lighter;
      }
    }

    &.active {
      & > div,
      & > a {
        background : $brand-primary;
        &, a {
          color : $white;
        }
      }
    }

    li.active > div > a {
      color           : $black;
      text-decoration : none;
      font-weight     : bold;
    }
  }

  li.open {
    & > ul {
    }
  }
}

// - - - - - - - - - - - - - - - - - - -
// - - states
//   ___ 
//  / __|
//  \__ \
//  |___/
