// -------------------------------------
// - Offcanvas Module
// -------------------------------------
// ----- Styles for the Offcanvas Module
// -------------------------------------

// -------------------------------------
//   Layout

@media screen and (max-width : 767px) {
  .row-offcanvas {
    position   : relative;
    transition : all .25s ease-out;

    /* On the right side */
    &.right {
      right : 0;
      .sidebar-c-offcanvas {
        right : -48%; /* 6 columns */
      }
    }

    /* On the left side */
    &.left {
      left : 0;
      .sidebar-c-offcanvas {
        left : -48%; /* 6 columns */
      }
    }
  }
}

// -------------------------------------
//   Skin

//
//      SSSSSSSSSSSSSSS
//    SS:::::::::::::::S
//   S:::::SSSSSS::::::S
//   S:::::S     SSSSSSS
//   S:::::S
//   S:::::S
//    S::::SSSS
//     SS::::::SSSSS
//       SSS::::::::SS
//          SSSSSS::::S
//               S:::::S
//               S:::::S
//   SSSSSSS     S:::::S
//   S::::::SSSSSS:::::S
//   S:::::::::::::::SS
//    SSSSSSSSSSSSSSS
//
// -------------------------------------

// -------------------------------------
//   Typography

/* Mini sidebar */
body.mini-sidebar {
    .nav-c-sidebar {
      li {
        a {
          text-align : center;
          .icon {
            font-size    : $font-size-large;
            margin-right : 0;
          }
          .title {
            font-size   : 10px;
            margin-top  : 5px;
            white-space : pre-wrap;
          }
        }
        ul li a {
          .icon {
            background  : $white;
            font-size   : $font-size-base;
            line-height : 11px;
          }
        }
      }
    }
}

// -------------------------------------
//   Components

// ----- sidebar-offcanvas ---- //
%sidebar-l-offcanvas {
  bottom     : 0;
  display    : block;
  overflow-x : hidden;
  overflow-y : auto; /* Scrollable contents if viewport is shorter than content. */
  padding    : 0 20px 20px;
  position   : fixed;
  top        : 51px;
  z-index    : $zindex-navbar-fixed - 1;
}

@media screen and (max-width : 767px) {
  %sidebar-l-offcanvas {
    width : 48%;
  }
}

%sidebar-s-offcanvas {
  background-color : $blue-darker;
  border-right     : 1px solid $black;
  box-shadow       : 0 2px 2px rgba(0, 0, 0, 0.1);
  transition       : all .25s ease-out;

  a {
    color: #8b91a0;
  }
}

%sidebar-t-offcanvas {

}

.sidebar-c-offcanvas {
  @extend %sidebar-l-offcanvas;
  @extend %sidebar-s-offcanvas;
  @extend %sidebar-t-offcanvas;
}

// ----- nav-sidebar-offcanvas ---- //
%nav-l-sidebar {
  margin-right  : -21px; /* 20px padding + 1px border */
  margin-bottom : 20px;
  margin-left   : -20px;

  & > li {
    & > a {
      padding-right : 20px;
      padding-left  : 20px;
    }

    .nav {
      height   : 0;
      overflow : hidden;
      & > li {
        & > a {
          padding : 10px 30px;
        }
      }
    }

    &.active {
      .nav {
        height : auto;
      }
    }
  }
  .icon {
    margin-right : 5px;
  }
}

%nav-s-sidebar {
  .nav {
    transition : all .33s ease-in-out;
    & > li {
      & > a {
        background-color : $gray-lighter;
        border-bottom    : 1px solid $table-border-color;
      }
    }
  }

  & > li.active {
    & > a {
      &,
      &:hover,
      &:focus {
        color            : $white;
        background-color : $brand-primary;
      }
    }
  }
}

%nav-t-sidebar {
  .nav {
    li.active {
      & > a {
        color : $black;
      }
    }
  }
}

.nav-c-sidebar {
  @extend %nav-l-sidebar;
  @extend %nav-s-sidebar;
  @extend %nav-t-sidebar;
}

// -------------------------------------
//   States

/* Mini sidebar state */
body.mini-sidebar {
  .sidebar-c-offcanvas {
    width : 72px;
    .nav-c-sidebar {
      li {
        a {
          padding    : 10px 0;
          .title {
            display     : block;
          }
        }
      }
    }
  }

  .main {
    width        : 100%;
    margin-left  : 0;
    padding-left : 87px;
  }
}

/* Active state */
@media screen and (max-width : 767px) {
  .row-offcanvas {
    /* On the right side */
    &.right {
      & > .sidebar-c-offcanvas {
        right : -48%;
      }
      &.is-active {
        right : 50%; /* 6 columns */
        & > .sidebar-c-offcanvas {
          right : 0;
        }
      }
    }

    /* On the left side */
    &.left {
      & > .sidebar-c-offcanvas {
        left : -48%;
      }
      &.is-active {
        left : 50%; /* 6 columns */
        & > .sidebar-c-offcanvas {
          left : 0;
        }
      }
    }
  }

  body.mini-sidebar {
    .row-offcanvas {
      /* On the right side */
      &.right {
        & > .sidebar-c-offcanvas {
          right : -72px;
        }
        &.is-active {
          right : 87px;
          & > .sidebar-c-offcanvas {
            right : 0;
          }
        }
      }

      /* On the left side */
      &.left {
        & > .sidebar-c-offcanvas {
          left : -72px;
        }
        &.is-active {
          left : 87px;
          & > .sidebar-c-offcanvas {
            left : 0;
          }
        }
      }
    }
    .main {
      padding-left : 0;
    }
  }
}
