// -------------------------------------
// - Quick-sidebar Module
// -------------------------------------
// ----- Styles for the Quick-sidebar Module
// -------------------------------------

// -------------------------------------
//   Layout

%quick-l-sidebar {
  position : fixed;
  width    : 265px;
  height   : 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index       : $zindex-navbar-fixed - 1;
}

// -------------------------------------
//   Skin

%quick-s-sidebar {
  @extend %sidebar-s-offcanvas;
  background-color : $blue-dark;
  border-right     : 1px solid $black;
}

// -------------------------------------
//   Typography

%quick-t-sidebar {
  //@TODO uncomment @extend when not empty
}

// -------------------------------------
//   Components

// ----- quick-sidebar ---- //
.quick-c-sidebar {
  @extend %quick-l-sidebar;
  @extend %quick-s-sidebar;
  //@extend %quick-t-sidebar;

  .aside-header {
    background    : $blue-darker;
    border-bottom : 1px solid $black;
    color         : $white;
    padding       : 10px 15px;
    text-shadow   : 1px 1px 1px $black;
    h4 strong {
      margin-top : 2px;
    }
  }

  .nav > li > a {
    padding : 10px 30px;
    margin  : 0 -15px;
  }
}

// -------------------------------------
//   States

//
//      SSSSSSSSSSSSSSS
//    SS:::::::::::::::S
//   S:::::SSSSSS::::::S
//   S:::::S     SSSSSSS
//   S:::::S
//   S:::::S
//    S::::SSSS
//     SS::::::SSSSS
//       SSS::::::::SS
//          SSSSSS::::S
//               S:::::S
//               S:::::S
//   SSSSSSS     S:::::S
//   S::::::SSSSSS:::::S
//   S:::::::::::::::SS
//    SSSSSSSSSSSSSSS
//
// -------------------------------------

