// -------------------------------------
// - Quick-nav Module
// -------------------------------------
// ----- Styles for the Quick-nav Module
// -------------------------------------

// -------------------------------------
//   Layout

.quick-l-nav,
%quick-l-nav {

}

// -------------------------------------
//   Skin

.quick-s-nav,
%quick-s-nav {
  background    : $white;
  border-bottom : 1px solid $navbar-default-border;
  box-shadow    : 0 2px 2px rgba(0, 0, 0, 0.05);
  position      : relative;
  z-index       : $zindex-navbar-fixed - 2;
}

// -------------------------------------
//   Typography

//   TTTTTTTTTTTTTTTTTTTTTTT
//   T:::::::::::::::::::::T
//   T:::::::::::::::::::::T
//   T:::::TT:::::::TT:::::T
//   TTTTTT  T:::::T  TTTTTT
//           T:::::T
//           T:::::T
//           T:::::T
//           T:::::T
//           T:::::T
//           T:::::T
//           T:::::T
//         TT:::::::TT
//         T:::::::::T
//         T:::::::::T
//         TTTTTTTTTTT
//
// -------------------------------------

// -------------------------------------
//   Components

.quick-c-nav {
  @extend %quick-l-nav;
  @extend %quick-s-nav;
}

// -------------------------------------
//   States

//
//      SSSSSSSSSSSSSSS
//    SS:::::::::::::::S
//   S:::::SSSSSS::::::S
//   S:::::S     SSSSSSS
//   S:::::S
//   S:::::S
//    S::::SSSS
//     SS::::::SSSSS
//       SSS::::::::SS
//          SSSSSS::::S
//               S:::::S
//               S:::::S
//   SSSSSSS     S:::::S
//   S::::::SSSSSS:::::S
//   S:::::::::::::::SS
//    SSSSSSSSSSSSSSS
//
// -------------------------------------

