<!DOCTYPE html>
<html lang="en" ng-app="admin">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>G-ZERO Admin</title>

    <!-- core CSS -->
    <link rel="stylesheet" href="/packages/gzero/admin/css/base.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">G-ZERO ADMIN</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active"><a ui-sref="home">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search..." ng-model="yourName">
            </form>
        </div>
    </div>
</div>
{% verbatim %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li ui-sref-active="active" ng-repeat="link in navBar.getItems()">
                    <a ui-sref="{{ link.action }}">{{ link.title }}</a>
                    <ul class="nav">
                        <li ui-sref-active="active" ng-repeat="subLink in link.children">
                            <a ui-sref="{{ subLink.action }}">{{ subLink.title }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div ui-view="index"></div>
        </div>
    </div>
</div>
{% endverbatim %}
{#<li ui-sref-active="active">#}
{#<a ui-sref="home">Dashboard</a>#}
{#</li>#}
{#<li ui-sref-active="active">#}
{#<a ui-sref="content">Content</a>#}
{#<ul class="nav" ui-view="contentNav"></ul>#}
{#</li>#}
{#<li ui-sref-active="active">#}
{#<a ui-sref="user">User</a>#}
{#<ul class="nav" ui-view="userNav"></ul>#}
{#</li>#}
<div class="loading-mask"><!-- Loading Mask --></div>
<!-- core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/packages/gzero/admin/js/vendor.min.js"></script>
<script src="/packages/gzero/admin/js/admin.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/packages/gzero/admin/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
