<div class="container-fluid">
    <div class="row list-actions quick-c-nav">
        <div class="col-xs-12 col-sm-12 col-lg-8 form-inline">
            <!-- LIST FILTERS -->
            <ul class="list-filters nav nav-pills" role="tablist">
                <li class="subtitle">
                    {{ 'SHOW' | translate }}
                </li>
                <li role="presentation" ng-class="{ active: (!activeFilter.type && !activeFilter.isActive) }">
                    <a href="" ui-sref="files.list" ui-sref-opts="{ inherit: false }">{{ 'ALL' | translate }}</a>
                </li>
                <li role="presentation" ng-class="{ active: activeFilter.type == type }"
                    ng-repeat="type in fileTypes track by $index">
                    <a href="" ui-sref="files.list({ type: '{{type}}' })">{{ 'FILE_TYPES.' + type.toUpperCase() | translate }}</a>
                </li>
                <li role="presentation" ng-class="{ active: activeFilter.isActive == 1 }">
                    <a href="" ui-sref="files.list({ isActive: 1 })">{{ 'PUBLISHED' | translate }}</a>
                </li>
                <li role="presentation" ng-class="{ active: activeFilter.isActive == 0 }">
                    <a href="" ui-sref="files.list({ isActive: 0 })">{{ 'NOT_PUBLISHED' | translate }}</a>
                </li>
            </ul>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-xs-12 col-sm-12 col-lg-4 text-right">
            <button type="button" class="btn btn-success" states-dropdown="fileAddButtonLinks">
                <i class="glyphicon glyphicon-plus hidden-sm"></i> {{ 'ADD' | translate }} <span class="caret"></span>
            </button>
            <button type="button"
                    ng-click="refreshCurrentState()"
                    class="btn btn-default"
                    title="{{ 'REFRESH_LIST' | translate }}">
                <i class="glyphicon glyphicon-refresh"></i>
            </button>
        </div>
        <!-- /.col-lg-8 -->
    </div>
    <div class="table-box"> <!-- START USERS TABLE -->
        <table ng-table="tableParams" template-pagination="gzero/admin/views/partials/pagination.html" class="table table-striped">
            <tbody>
            <tr ng-repeat="file in $data" ng-class="{ inactive: !file.isActive }">
                <td data-title="'TITLE' | translate" sortable="'translations.title'" width="40%">
                    <div class="media">
                        <div class="media-left">
                            <div class="img-preview" ng-if="file.type === 'image'">
                                <img ng-src="{{::file.thumb}}" alt="{{ file.translations | getTranslation:transLang.code:'title' }}"
                                     title="{{ file.translations | getTranslation:transLang.code:'title' }}" width="64">
                            </div>
                            <i ng-if="file.type === 'document'" class="fa fa-file-pdf-o fa-2x"></i>
                        </div>
                        <div class="media-body">
                            <div class="media-heading">
                                <strong>{{ file.translations | getTranslation:transLang.code:'title' }}</strong>
                            </div>
                            <div class="media-heading" ng-hide="(file.translations | getTranslation:transLang.code:'title')">
                                <a ui-sref="files.addTranslation({ fileId: file.id, langCode: transLang.code })"
                                   href="" class="text-muted">
                                    <i class="glyphicon glyphicon-ban-circle hidden-sm"></i>
                                    {{ 'NO_TRANSLATION_BUTTON' | translate }}
                                </a>
                            </div>
                            {{ file.translations | getTranslation:transLang.code:'description' }}
                        </div>
                    </div>
                </td>
                <td data-title="'FILE_NAME' | translate" sortable="'name'" class="text-center">
                    {{::file.name}}.{{::file.extension}}
                </td>
                <td data-title="'STATUS' | translate" sortable="'isActive'" class="text-center">
                    <i ng-if="!file.isActive">{{ 'NOT_PUBLISHED' | translate }}</i>
                    <i ng-if="file.isActive">{{ 'PUBLISHED' | translate }}</i>
                </td>
                <td data-title="'SIZE' | translate" sortable="'size'" class="text-center">
                    {{::file.size/1024/1024|number:2}} MB
                </td>
                <td data-title="'ACTION' | translate" class="text-center">
                    <a ui-sref="files.show({ fileId: file.id, langCode: transLang.code })"
                       href="" class="btn btn-primary btn-sm">
                        <i class="fa fa-pencil hidden-sm"></i> {{ 'EDIT' | translate }}
                    </a>
                    <button file-delete-button class="btn btn-danger btn-sm" file-id="{{ file.id }}"
                            ng-click="$event.stopPropagation();">
                        <i class="fa fa-times hidden-sm"></i> {{ 'DELETE' | translate }}
                    </button>
                </td>
            </tr>
            <tr ng-if="!$data[0] || requestPending">
                <td colspan="6" class="text-center">
                    <strong ng-if="!$data[0] && !requestPending">{{ 'NO_ENTRIES' | translate }}</strong>
                    <strong ng-if="requestPending"><i class="fa fa-spin fa-2x fa-spinner"></i></strong>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- END FILES TABLE -->
</div>
