<div class="panel panel-default  margin-top">
    <div class="panel-heading">
        <strong>{{ 'TRANSLATION_LANGUAGE' | translate | uppercase }}</strong>
    </div>
    <div class="list-group action-group">
        <div ng-repeat="lang in langs" ng-switch="lang.code" ui-sref="files.show({ langCode: lang.code })"
             class="list-group-item"
             ng-class="{
             'inactive': !(file.translations | getTranslation:lang.code:'title'),
             'active': lang.code === langCode
             }">
            <h4 class="list-group-item-heading" translate="{{ lang.code | langName }}"></h4>
        </div>
    </div>
</div>
