// -------------------------------------
//   Base
// -------------------------------------
// ----- Global defaults for Base-level tags (body, p, etc.)
// -------------------------------------

// ----- Uncomment if project will be using rems ----- //
// html {
//   font-size: 62.5%;
// }

/*
* Base structure
*/

html,
body {
  overflow-x : hidden; /* Prevent scroll on narrow devices */
}

@media only screen and (min-width : 845px) {
  html,
  body {
    overflow : hidden; /* Prevent scroll on narrow devices */
  }
}

html {
  height : 100%;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top : 50px;
  min-height  : 100%;
}
