// -------------------------------------
//   Skin
// -------------------------------------
// ----- Global skin classes (gradients, colors, box-shadows, etc).
// -------------------------------------

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border     : 0;
  box-shadow : 0 2px 5px rgba(0, 0, 0, 0.26);
}

// brand style
.navbar-inverse {
  label {
    color : $white;
  }
  .brand-box {
    background : $black;
  }
}

// -------------------------------------
//   Animations
// -------------------------------------

[ui-view="content"].ng-enter {
  @include fadeIn(.33s);
}
