// -------------------------------------
//   Skin
// -------------------------------------
// ----- Global skin classes (gradients, colors, box-shadows, etc).
// -------------------------------------

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  box-shadow : 0 2px 5px rgba(0, 0, 0, 0.26);
}

// brand style
.navbar-inverse {
  label {
    color : $white;
  }
  .brand-box {
    background : $black;
  }
}

// tabs style
.nav-tabs {
  padding          : 10px 10px 0;
  background-color : $table-bg-accent;

  & > li.active > a {
    &,
    &:hover,
    &:focus {
      background-color : $white;
    }
  }

}


// -------------------------------------
//   Animations
// -------------------------------------

body.animate-on [ui-view="content"].ng-enter {
  @include fadeIn(.33s);
}
