// -------------------------------------
//   Utilities
// -------------------------------------
// ----- Placeholders Extends, Mixins, Functions, and Utility Classes
// -------------------------------------

// -------------------------------------
//   Placeholder Extends
// -------------------------------------

// ----- Clearfix ----- //
// %clearfix:before,
// %clearfix:after {
//   content: " ";
//   display: table;
// }

// %clearfix:after {
//   clear: both;
// }

// %clearfix {
//   *zoom: 1;
// }


// -------------------------------------
//   Mixins
// -------------------------------------

// ----- Adds responsive breakpoints. ----- //
@mixin breakpoint($width) {
   @media (min-width: $width) {
     @content;
   }
}

// ----- Adds accessibility pseudo selectors to hover states. ----- //
@mixin attention() {
   &:hover,
   &:active,
   &:focus {
     @content;
   }
}

// Rem sizing mixin with px fallback.
// @mixin rem-sizing($property, $size) {
//   #{$property}: $size * 10px;
//   #{$property}: $size * 1rem;
// }

// -------------------------------------
//   Functions
// -------------------------------------


// -------------------------------------
//   Utilities
// -------------------------------------
.no-margin {
  margin : 0 !important;
}
.no-margin-top {
  margin-top : 0 !important;
}

.no-margin-bottom {
  margin-bottom : 0 !important;
}

.margin-top {
  margin-top : $line-height-computed;
}

.margin-bottom {
  &, &.alert {
    margin-bottom : $line-height-computed;
  }
}

.margin-top-sm {
  margin-top : $line-height-computed / 2;
}

.margin-bottom-sm {
  margin-bottom : $line-height-computed / 2;
}

.padding-top {
  padding-top : $line-height-computed;
}

.padding-bottom {
  padding-bottom : $line-height-computed;
}

.padding-top-sm {
  padding-top : $line-height-computed / 2;
}

.padding-bottom-sm {
  padding-bottom : $line-height-computed / 2;
}

.no-padding-top {
  padding-top : 0 !important;
}

.no-padding-bottom {
  padding-bottom : 0 !important;
}

.clear-left {
  clear: left !important;
}

.clear-right {
  clear: right !important;
}

.clear-both {
  clear: right !important;
}
