// css-burrito v1.2 | MIT License | github.com/jasonreece/css-burrito
// -------------------------------------
//   Application.css.scss
// -------------------------------------
// ----- Contains an import section for libs, core, and modules, the inbox,
// ----- and a shame section for quick fixes and hacks ----- //
// -------------------------------------
//   Libs
// -------------------------------------
// ----- Variable overrides for Bootstrap and other libraries ----- //
@import "libs/library-variable-overrides";
// ----- Twitter Bootstrap ----- //
@import "libs/bootstrap/bootstrap";
// ----- BootstrapAdditions ----- //
@import "libs/bootstrap-additions/bootstrap-additions";
// ----- Animate.scss ----- //
@import "libs/animate/animate";
// ----- AngularMotion ----- //
@import "libs/angular/angular-motion";
// ----- Angular UI Tree ----- //
@import "libs/angular/angular-ui-tree";
// ----- Angular ngTable ----- //
@import "libs/angular/ng-table";
// ----- Reset - Normalize.css ----- //
// @import "libs/normalize";
// ----- Compass - Setup: http://compass-style.org/help/ ----- //
// ----- Run compass create on project root ----- //
// ----- Delete generated ie, print, and screen files ----- //
// ----- Update paths on config.rb ----- //
// @import "compass";
// -------------------------------------
//   Core
// -------------------------------------
// ----- Settings - @Font-Face Declarations, Variables ----- //
@import "core/settings";
// ----- Utilities - Extends, Functions, and Mixins ----- //
@import "core/utilities";
// ----- Base - Base-level tags (body, p, etc.) ----- //
@import "core/base";
// ----- Layout - Margin, Padding, Sizing ----- //
@import "core/layout";
// ----- Skin - Backgrounds, Borders, Box-shadow, etc ----- //
@import "core/skin";
// ----- Typography - Fonts and Colors ----- //
@import "core/typography";
// ----- Modules - Imports all module files. ----- //
@import "modules/modules";

// -------------------------------------
//   Inbox
// -------------------------------------
// ----- The inbox allows developers, and those not actively working on the CSS,
// to quickly add styles that are easily seen by the maintainer of the file.

.list-parent {
  h3 {
    margin-top : 0;
    a, strong {
      vertical-align : middle;
    }
  }
}

.list-actions {
  padding-bottom : $line-height-computed;
}

.list-filters {
  .subtitle {
    padding : 4px 10px 4px 0;
  }
  li {
    a {
      padding : 4px 10px;
      .badge {
        vertical-align : top;
      }
    }
  }
}

.table {
  tr.inactive {
    &, h5 a,
    {
      color : #8B91A0;
    }
    .label {
      background-color : #8B91A0;
      border-color     : #8B91A0;
    }
  }
  td.text-center {
    vertical-align : middle;
  }

  .table-inner {
    width : 100%;
    td {
      padding : 8px;
    }

    .action-column {
      width : 200px;
    }
  }
}

.action-group {
  .list-group-item {
    position   : relative;
    transition : all .25s ease-in-out;
    .list-group-item-heading {
      margin-bottom : 0;
    }
    .box-inner {
      color      : $white;
      transition : all .25s ease-in-out;
      padding    : 0;
      margin-top : 10px;
    }
    &:hover {
      box-shadow : 0 2px 5px rgba(0, 0, 0, 0.5);
      cursor     : pointer;
      z-index    : $zindex-navbar-fixed - 1;
    }
    &.inactive {
      background-color : $gray-lighter;
      border-color     : $btn-default-border;
      color            : $gray;
      &.active {
        color            : $white;
        background-color : $gray-dark;
      }
      .list-group-item-heading {
        margin-bottom : 5px;
      }
    }
  }
}

.icon:hover {
  cursor : pointer;
}

.semi-bold {
  font-weight : 600;
}

.page-title {
  padding        : 0;
  letter-spacing : -1px;
  display        : block;
  margin         : 0 0 $line-height-computed / 2;
  font-weight    : 300;
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top : 0;
  }
}

// -------------------------------------
//   Shame
// -------------------------------------
// ----- Need to add a quick fix, hack, or questionable technique?  Add it here, fix it later.

li:hover {
  // Show the menu
  > .dropdown-menu {
    display : block;
  }

  // Remove the outline when :focus is triggered
  > a {
    outline : 0;
  }
}

.ng-table-pager {
  bottom     : 0;
  right      : 0;
  left       : 0;
  padding    : 20px 15px;
  border-top : 1px solid $navbar-default-border;
  z-index    : $zindex-navbar-fixed - 2;
}

.table-box {
  padding : 0 0 80px;
  margin  : 0 -15px;
  .table {
    margin-bottom : 0;
  }
  .pagination {
    margin : 0;
  }
}

.mr-sm {
  margin-right : 10px;
}

.ml-sm {
  margin-left : 10px;
}

.googleResultTitle {
  font-size : 18px;
  color     : #1A0DAB;
}

.googleResultUrl {
  color     : #006621;
  font-size : 16px;
}

.googleResultDescription {
  color     : #545454;
  font-size : 14px;
}

.ng-invalid {
  border-color : $brand-danger;
}

// PNotify

.ui-pnotify {
  top      : 25px;
  right    : 25px;
  position : absolute;
  height   : auto;
  z-index  : 9999;

  .ui-pnotify-container {
    opacity : 0.9;
  }

  .ui-pnotify-closer, .ui-pnotify-sticker {
    float : right;
  }

  .ui-pnotify-icon span {
    font-size     : 50px;
    padding-right : 20px;
    float         : left;
  }

  .ui-pnotify-title {
    padding-bottom : 0;
  }

  .ui-pnotify-text {
    float : right;
    width : 192px;
  }

  .alert-info {
    background : $brand-info;
    color      : white;
  }

  .alert-danger {
    background : $brand-danger;
    color      : white;
  }

  .alert-success {
    background : $brand-success;
    color      : white;
  }

  .alert-warning {
    background : $brand-warning;
    color      : white;
  }

}

ul.content-settings {
  li {
    a {
      cursor     : pointer;
      color      : black;
      position   : relative;
      left       : 0;
      transition : 0.2s all;
    }

    a:hover {
      left       : 5px;
      transition : 0.2s all;
      color      : blue;
    }
  }
}

