// css-burrito v1.2 | MIT License | github.com/jasonreece/css-burrito
// -------------------------------------
//   Application.css.scss
// -------------------------------------
// ----- Contains an import section for libs, core, and modules, the inbox,
// ----- and a shame section for quick fixes and hacks ----- //
// -------------------------------------
//   Libs
// -------------------------------------
// ----- Variable overrides for Bootstrap and other libraries ----- //
@import "libs/library-variable-overrides";
// ----- Twitter Bootstrap ----- //
@import "libs/bootstrap/bootstrap";
// ----- BootstrapAdditions ----- //
@import "libs/bootstrap-additions/bootstrap-additions";
// ----- Animate.scss ----- //
@import "libs/animate/animate";
// ----- AngularMotion ----- //
@import "libs/angular/angular-motion";
// ----- Angular UI Tree ----- //
@import "libs/angular/angular-ui-tree";
// ----- Angular ngTable ----- //
@import "libs/angular/ng-table";
// ----- Reset - Normalize.css ----- //
// @import "libs/normalize";
// ----- Compass - Setup: http://compass-style.org/help/ ----- //
// ----- Run compass create on project root ----- //
// ----- Delete generated ie, print, and screen files ----- //
// ----- Update paths on config.rb ----- //
// @import "compass";
// -------------------------------------
//   Core
// -------------------------------------
// ----- Settings - @Font-Face Declarations, Variables ----- //
@import "core/settings";
// ----- Utilities - Extends, Functions, and Mixins ----- //
@import "core/utilities";
// ----- Base - Base-level tags (body, p, etc.) ----- //
@import "core/base";
// ----- Layout - Margin, Padding, Sizing ----- //
@import "core/layout";
// ----- Skin - Backgrounds, Borders, Box-shadow, etc ----- //
@import "core/skin";
// ----- Typography - Fonts and Colors ----- //
@import "core/typography";
// ----- Modules - Imports all module files. ----- //
@import "modules/modules";

// -------------------------------------
//   Inbox
// -------------------------------------
// ----- The inbox allows developers, and those not actively working on the CSS,
// to quickly add styles that are easily seen by the maintainer of the file.

.quick-c-sidebar {
  @extend %quick-l-sidebar;
  @extend %quick-s-sidebar;
  @extend %quick-t-sidebar;
  background-color : #FCFCFC;

  .aside-header {
    border-bottom : 1px solid #e5e5e5;
    padding       : 15px 15px 12px;
    margin        : 0 -15px;
    background    : $white;
  }

  .nav > li > a {
    padding : 10px 30px;
    margin  : 0 -15px;
  }
}

#categories-tree {
  height       : 100vh;
  overflow-x   : hidden; /* Prevent scroll on narrow devices */
  margin-left  : -15px;
  margin-right : -15px;
  padding      : 10px 15px 60px;
}

.list-parent {
  h3 {
    margin-top : 0;
  }
}

.list-filters {
  margin-bottom : $line-height-computed;
  .subtitle {
    padding : 4px 10px 4px 0;
  }
  li {
    a {
      padding : 4px 10px;
      .badge {
        vertical-align : top;
      }
    }
  }
}

.table {
  tr.inactive {
    color   : $gray-light;
    opacity : .8;
    &:hover {
      opacity : 1;
    }
    h5 a {
      color : $gray-light;
    }
  }
  td.text-center {
    vertical-align : middle;
  }
}

.action-group {
  .list-group-item {
    position   : relative;
    transition : all .25s ease-in-out;
    .list-group-item-heading {
      margin-bottom : $line-height-computed / 2;
    }
    .box-inner {
      color      : $white;
      transition : all .25s ease-in-out;
      padding    : 0;
      margin-top : 10px;
    }
    &:hover {
      box-shadow : 0 2px 5px rgba(0, 0, 0, 0.5);
      z-index    : 1050;
    }
    &.empty {
      background-color : $gray-lighter;
      border-color     : $btn-default-border;
      color            : $gray;
    }
  }
}

#categories-tree {
  .uncategorized a {
    padding     : 10px 15px;
  }
  .angular-ui-tree-handle {
    font-weight : normal;
    cursor      : auto;
    padding     : 10px 15px;

    .fa.pull-left:hover {
      cursor : pointer;
    }
    a {
      white-space     : nowrap;
      text-decoration : none;
    }
  }

  & > ul {
    & > li {
      a {
        margin : 0;
      }
    }

  }

  a {
    display : block;
    &.btn-add {
      color : $brand-success;
      &:hover {
        background      : $brand-success;
        color           : $white;
        text-decoration : none;
      }
    }
    &.btn-show {
      &:hover,
      &.active {
        background      : $brand-primary;
        color           : $white;
        text-decoration : none;
      }
    }
  }

  .fa.pull-left {
    margin-top : .2em;
  }

  ul {
    ul {
      background-color : $table-bg-hover;
      .angular-ui-tree-handle {
        & > a {
          &:hover {
            color           : $black;
            text-decoration : none;
          }
        }
//        &:first-child {
//          padding-top : 0;
//        }
//
//        &:last-child {
//          padding-bottom : 0;
//        }
      }
    }
  }

  & > ul > li {
    margin : 0 -15px;
    &:first-child {
      margin-top : -10px;
    }

    &:last-child {
      border-bottom : none;
    }

    &:hover,
    &.open {
      & > a,
      & > div > a {
        color           : $black;
        text-decoration : none;
      }
    }

    &.active {
      & > a {
        background : $brand-primary;
        color      : $white;
      }
    }

    li.active > div > a {
      color           : $black;
      text-decoration : none;
    }
  }

  li.open {
    & > ul {
    }
  }
}

@media screen and (max-width : 767px) {
  .navbar-fixed-top {
    .navbar-header {
      .navbar-nav {
        margin : 4px 0;
        float  : left;
        li {
          float : left;
          a {
            padding : 10px;
          }
        }
      }
    }
    .navbar-form {
      padding : 0 15px
    }
  }
}

// -------------------------------------
//   Shame
// -------------------------------------
// ----- Need to add a quick fix, hack, or questionable technique?  Add it here, fix it later.
.navbar-inverse {
  label {
    color : $white;
  }
  .brand-box {
    background : $black;
  }
}

.alert {
  margin : $line-height-computed 0 0;
}

@media only screen and (max-width : 520px) {
  .navbar-brand {
    padding   : 18px 0px;
    font-size : 13px;
  }
}

.subtitle {
  font-weight   : bold;
  font-size     : small;
  border-right  : 1px solid $gray-lighter;
  margin-right  : 5px;
  padding-right : 5px;
}

li:hover {
  // Show the menu
  > .dropdown-menu {
    display : block;
  }

  // Remove the outline when :focus is triggered
  > a {
    outline : 0;
  }
}

.ng-table-pager {
  background : $white;
  position   : absolute;
  bottom     : 0;
  right      : 0;
  left       : 0;
  padding    : 20px 15px;
  border-top : 1px solid $navbar-default-border;
  box-shadow : 0 -1px 2px rgba(0, 0, 0, 0.05);
  z-index    : $zindex-navbar-fixed - 2;
}

.table-box {
  overflow-x   : hidden;
  height       : 86vh;
  padding      : 15px 15px 80px 0;
  margin-right : -15px;
  .pagination {
    margin : 0;
  }
}

// hidden sidebar
body.hide-sidebar {
  .sidebar-c-offcanvas {
    width : 72px;
    .nav-c-sidebar {
      li {
        a {
          padding    : 10px 0;
          text-align : center;
          .icon {
            font-size    : $font-size-large;
            margin-right : 0;
          }
          .title {
            font-size   : 10px;
            display     : block;
            margin-top  : 5px;
            white-space : pre-wrap;
          }
        }
        ul li a {
          .icon {
            background  : $white;
            font-size   : $font-size-base;
            line-height : 11px;
          }
        }
      }
    }
  }
  .main {
    width        : 100%;
    margin-left  : 0;
    padding-left : 87px;
  }
}
