//Main Stylesheet For Visual Style Guide
@import "components/components";

/*
* Base structure
*/

/* Move down content because we have a fixed navbar that is 50px tall */
html,
body {
  overflow-x : hidden; /* Prevent scroll on narrow devices */
}

html {
  height : 100%;
}

body {
  padding-top : 50px;
  min-height  : 100%;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom : 10px;
  border-bottom  : 1px solid $gray;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border : 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  top              : 51px;
  bottom           : 0;
  left             : 0;
  z-index          : 1000;
  display          : block;
  padding          : 20px;
  overflow-x       : hidden;
  overflow-y       : auto; /* Scrollable contents if viewport is shorter than content. */
  background-color : $gray-ultra-lighter;
  border-right     : 1px solid $gray-lighter;
}

@media screen and (min-width : 768px) {
  .sidebar {
    position : fixed;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right  : -21px; /* 20px padding + 1px border */
  margin-bottom : 20px;
  margin-left   : -20px;

  & > li {
    & > a {
      padding-right : 20px;
      padding-left  : 20px;
    }

    ul {
      height     : 0;
      transition : all .33s ease-in-out;
      overflow   : hidden;
      & > li {
        & > a {
          padding          : 10px 30px;
          background-color : $gray-lighter;
        }

        &.active {
          & > a {
            font-weight : bold;
          }
        }
      }
    }

    &.active {
      & > a {
        &,
        &:hover,
        &:focus {
          color            : $white;
          background-color : $brand-primary;
        }
      }
      ul {
        height : auto;
      }
    }
  }

}

[ui-view='index'].ng-enter {
  @include fadeIn();
}

[ui-view='quickNav'].ng-enter {
  @include fadeInDown();
}

/*
 * Main content
 */

.main {
  padding : 20px;
}

.main .page-header {
  margin-top : 0;
}

.aside .nav {
  margin : 0 -20px;
  li > a {
    padding : 10px 20px;
  }
}

.quick-nav {
  .quick-nav-inner {
    background    : $navbar-default-bg;
    padding       : 10px $line-height-computed $line-height-computed;
    margin        : -10px -20px 0;
    border-bottom : 1px solid $navbar-default-border;
  }
}

.list-filters {
  margin-bottom : $line-height-computed;
  li {
    a {
      padding : 4px 10px;
      .badge {
        vertical-align : top;
      }
    }
  }
}

@media screen and (min-width : 768px) {
  .main,
  .quick-nav .quick-nav-inner {
    padding-right : 40px;
    padding-left  : 40px;
  }

  .quick-nav .quick-nav-inner {
    margin-left  : -40px;
    margin-right : -40px;
  }
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width : 767px) {
  .navbar-fixed-top {
    .navbar-header {
      .navbar-nav {
        margin : 4px -15px;
        float  : left;
        li {
          float : left;
        }
      }
    }
  }
  .row-offcanvas {
    position   : relative;
    transition : all .25s ease-out;

    &.right {
      right : 0;
      .sidebar-offcanvas {
        right : -48%; /* 6 columns */
      }
      &.active {
        right : 50%; /* 6 columns */

        .sidebar-offcanvas {
          right : 0;
        }
      }
    }

    &.left {
      left : 0;
      .sidebar-offcanvas {
        left : -48%; /* 6 columns */
      }
      &.active {
        left : 50%; /* 6 columns */

        .sidebar-offcanvas {
          left : 0;
        }
      }
    }
  }

  .sidebar-offcanvas {
    transition : all .25s ease-out;
    position   : fixed;
    width      : 48%; /* 6 columns */
    z-index    : $zindex-navbar-fixed;
  }
}
