<ul tabindex="-1" class="dropdown-menu" role="menu">
    <li role="presentation" ng-class="{divider: item.divider}" ng-repeat="item in content">
        <a role="menuitem" tabindex="-1" ui-sref="{{item.href}}" ng-if="!item.divider && item.href"
           ng-click="$event.stopPropagation();" target="{{item.target || ''}}">
            <i class="{{item.icon}}" ng-if="item.icon"></i> {{item.text | translate}}
        </a>
        <!-- DELETE ACTION -->
        <a role="menuitem" tabindex="-1" href="" ng-if="!item.divider && item.click === 'delete'"
           ng-click="deleteModal.showModal(record.id, record.type, false); $event.stopPropagation();">
            <i class="{{item.icon}}" ng-if="item.icon"></i> {{item.text | translate}}
        </a>
        <!-- PUBLIC URL ACTION -->
        <a role="menuitem" tabindex="-1" target="_blank" ng-click="$event.stopPropagation();"
           title="{{item.text | translate }} {{ record.translations | getTranslation:lang.code:'title'}}"
           ng-if="(!item.divider && item.url === 'publicUrl' && !lang.is_default) && (record.routes | getTranslation:lang.code:'path')"
           href="{{ baseUrl }}/{{ lang.code }}/{{ record.routes | getTranslation:lang.code:'path' }}">
            <i class="{{item.icon}}" ng-if="item.icon"></i> {{item.text | translate}}
        </a>
        <!-- PUBLIC URL ACTION DEFAULT LANGUAGE -->
        <a role="menuitem" tabindex="-1" target="_blank" ng-click="$event.stopPropagation();"
           title="{{item.text | translate }} {{ record.translations | getTranslation:lang.code:'title'}}"
           ng-if="(!item.divider && item.url === 'publicUrl' && lang.is_default) && (record.routes | getTranslation:lang.code:'path')"
           href="{{ baseUrl }}/{{ record.routes | getTranslation:lang.code:'path' }}">
            <i class="{{item.icon}}" ng-if="item.icon"></i> {{item.text | translate}}
        </a>
    </li>
</ul>
