<ul tabindex="-1" class="dropdown-menu" role="menu">
    <li role="presentation" ng-class="{divider: item.divider}" ng-repeat="item in content">
        <a role="menuitem" tabindex="-1" ui-sref="{{item.href}}" ng-if="!item.divider && item.href"
           target="{{item.target || ''}}">
            <i class="{{item.icon}}" ng-if="item.icon"></i> {{item.text | translate}}
        </a>
        <a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-if="!item.divider && item.click"
           ng-click="$eval(item.click);$hide()">
            <i class="{{item.icon}}" ng-if="item.icon"></i> {{item.text | translate}}
        </a>
    </li>
</ul>
