<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ 'USER_LIST' | translate }}</h1>
        </div>
    </div>
    <div ng-controller="UserListCtrl">
        <div ui-view></div>
        <div class="table-box"> <!-- START USERS TABLE -->
            <table ng-table="tableParams" template-pagination="tablePager" class="table table-striped">
                <tbody>
                <tr ng-repeat="user in $data">

                    <td data-title="'EMAIL' | translate" sortable="'email'" class="text-center">
                        {{user.email}}
                    </td>
                    <td data-title="'NICK_NAME' | translate" sortable="'nickName'" class="text-center">
                        {{user.nickName}}
                    </td>
                    <td data-title="'FIRST_NAME' | translate" sortable="'firstName'" class="text-center">
                        {{user.firstName}}
                    </td>
                    <td data-title="'LAST_NAME' | translate" sortable="'lastName'" class="text-center">
                        {{ user.lastName }}
                    </td>
                    <td data-title="'ID' | translate" sortable="'id'" class="text-center">
                        {{ user.id }}
                    </td>
                    <td data-title="'ACTION' | translate" class="text-center">
                        <a href="" ui-sref="user.show({ userId: user.id })" class="btn btn-default btn-xs">
                            <i class="fa fa-search"></i>
                        </a>
                        <a href="" ui-sref="user.edit({ userId: user.id })" class="btn btn-primary btn-xs">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <button user-delete-button ng-disabled="currentUserId === user.id"
                                class="btn btn-danger btn-xs" data-user-id="user.id">
                            <i class="fa fa-times"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-if="!$data[0] || requestPending">
                    <td colspan="5" class="text-center">
                        <strong ng-if="!$data[0] && !requestPending">{{ 'NO_ENTRIES' | translate }}</strong>
                        <strong ng-if="requestPending"><i class="fa fa-spin fa-2x fa-spinner"></i></strong>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- END USERS TABLE -->
    </div>
</div>


<!--TEMPLATE-->
<script type="text/ng-template" id="tablePager">
    <div class="ng-cloak ng-table-pager">
        <ul ng-if="params.settings().counts.length" class="ng-table-counts pagination pull-right">
            <li ng-repeat="count in params.settings().counts" ng-class="{'active':params.count() == count}">
                <a href="" ui-sref="user.list({ page: page.number, perPage:count })">
                    <span ng-bind="count"></span>
                </a>
            </li>
        </ul>
        <ul class="pagination ng-table-pagination">
            <li ng-class="{'active': !page.active, 'disabled': !page.active && (page.type == 'prev' || page.type == 'next')}"
                ng-repeat="page in pages" ng-switch="page.type">
                <a ng-switch-when="prev" ui-sref="user.list({ page: page.number })" href="">&laquo;</a>
                <a ng-switch-when="first" ui-sref="user.list({ page: page.number })" href="">
                    <span ng-bind="page.number"></span>
                </a>
                <a ng-switch-when="page" ui-sref="user.list({ page: page.number })" href="">
                    <span ng-bind="page.number"></span>
                </a>
                <a ng-switch-when="more" ui-sref="user.list({ page: page.number })" href="">&#8230;</a>
                <a ng-switch-when="last" ui-sref="user.list({ page: page.number })" href="">
                    <span ng-bind="page.number"></span>
                </a>
                <a ng-switch-when="next" ui-sref="user.list({ page: page.number })" href="">&raquo;</a>
            </li>
        </ul>
    </div>
</script>
