<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ 'USER_LIST' | translate }}</h1>
        </div>
    </div>
    <div ng-controller="UserListCtrl">
        <div ui-view></div>
        <div class="table-box"> <!-- START USERS TABLE -->
            <table ng-table="tableParams" template-pagination="gzero/admin/views/partials/pagination.html" class="table table-striped">
                <tbody>
                <tr ng-repeat="user in $data">

                    <td data-title="'EMAIL' | translate" sortable="'email'" class="text-center">
                        {{user.email}}
                    </td>
                    <td data-title="'NICK' | translate" sortable="'name'" class="text-center">
                        {{user.name}}
                    </td>
                    <td data-title="'FIRST_NAME' | translate" sortable="'first_name'" class="text-center">
                        {{user.first_name}}
                    </td>
                    <td data-title="'LAST_NAME' | translate" sortable="'last_name'" class="text-center">
                        {{ user.last_name }}
                    </td>
                    <td data-title="'ID' | translate" sortable="'id'" class="text-center">
                        {{ user.id }}
                    </td>
                    <td data-title="'ACTION' | translate" class="text-center action-column">
                        <button type="button" class="btn btn-sm btn-primary" user-actions-dropdown="userListActions"
                            data-record="user" ng-click="$event.stopPropagation();" ng-disabled="currentUserId === user.id">
                        {{ 'ACTION' | translate }} <span class="caret"></span>
                        </button>
                    </td>
                </tr>
                <tr ng-if="!$data[0] || requestPending">
                    <td colspan="6" class="text-center">
                        <strong ng-if="!$data[0] && !requestPending">{{ 'NO_ENTRIES' | translate }}</strong>
                        <strong ng-if="requestPending"><i class="fa fa-spin fa-2x fa-spinner"></i></strong>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- END USERS TABLE -->
    </div>
</div>

