<div class="container-fluid">
    <div class="col-lg-6">
        <div class="panel margin-top">
            <div class="panel-heading">
                <div class="page-header no-margin-bottom no-margin-top">
                    <h1>{{ user.nickName }} <small>{{ user.firstName }} {{ user.lastName }}</small></h1>
                    <h3>{{ user.email }}</h3>
                </div>
            </div>
            <div class="panel-body">
                <p>{{ 'ID' | translate }}: {{ user.id }}</p>
            </div>
        </div>
    </div>
</div>
